---
import Title from "@/components/Title.astro";
---

<section
  class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10">
    <div
      class="bg-[url('https://res.cloudinary.com/dnwshzyqp/image/upload/v1721360166/manarola/about_gs0p6o.avif')] bg-cover bg-no-repeat bg-center w-full py-40 md:py-0"
    >
    </div>
    <div class="p-5 md:p-12 bg-[url('https://res.cloudinary.com/dnwshzyqp/image/upload/v1721359189/manarola/patron_pk2slk.svg')] bg-no-repeat bg-cover">
      <Title
        title="Único proyecto sobre terrazas a orillas del mar"
        subtitle="¿Listo para conocer MANAROLA?"
        align="text-left"
        size="text-3xl md:text-[3rem]"
      />
      <p class="mt-5 text-[15px] text-pretty animation-bottom">
        "Diseñado para ofrecer comodidad y exclusividad, lotes con impresionantes vistas, acceso directo a la playa y carretera costanera en Quilca – Camaná"
      </p>
      <p class="mt-5 text-[15px] text-pretty animation-bottom">
        Descubre el paraíso en nuestro exclusivo condominio de playa en donde todos los terrenos tienen vista al mar.
      </p>
      <p class="mt-5 text-[15px] text-pretty animation-bottom">
        ¡Vive la experiencia que te mereces con familia y amigos en la tranquilidad que solo el sonido del mar te puede proporcionar!.
      </p>
      <p class="mt-5 text-[15px] text-pretty animation-bottom">
        ¡Tu casa de playa de ensueño te espera!
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-5 w-full mt-10">
    <div class="col-span-3 bg-[url('https://res.cloudinary.com/dnwshzyqp/image/upload/v1721360192/manarola/about-banner_cw3zow.avif')] bg-cover bg-no-repeat bg-center w-full"></div>
    <div
      class="relative col-span-2 text-accent flex flex-col items-center justify-center gap-2 px-5 py-10 w-full after:absolute after:w-[1px] after:h-[60%] after:bg-primary/40 after:right-0 after:top-7"
    >
      <h4 class="text-4xl">+ de 40,000 <span class="text-sm">m<sup>2</sup></span></h4>
      <span class="text-sm tracking-wider uppercase font-light"
        >áreas libres</span
      >
    </div>
  </div>
</section>

<section class="bg-reserva w-full pt-20 bg-background">
  <Title
    title="En tu futura casa de playa"
    subtitle="Así será la vista"
    align="text-center"
    size="text-3xl md:text-[3rem]"
  />
  <p class="text-center mt-10 text-[15px] animation-bottom">
    Todas las casas tendrán una vista impresionante al mar podrás disfrutar de
    vistas hermosas a la playa y el sunset desde tu casa
  </p>
  <div class="md:h-[85vh] overflow-hidden object-cover">
    <div class="splide mt-10 h-full" id="slide-first">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev bg-accent">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
        <button class="splide__arrow splide__arrow--next">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img
              src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1726758287/manarola/slider1_fi72ma.webp"
              alt="Terrazas del proyecto"
              class="w-full"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1726758534/manarola/slider2_jd1176.webp"
              alt="Terrazas del proyecto"
              class="w-full"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1726758603/manarola/slider3_uuqujc.webp"
              alt="Terrazas del proyecto"
              class="w-full"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1726894385/manarola/slider8_bzgyz2.webp"
              alt="Terrazas del proyecto"
              class="w-full"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .bg-reserva {
    background-image: url("https://res.cloudinary.com/dnwshzyqp/image/upload/v1721360369/manarola/bg-plants_dslxin.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .splide__arrow {
    background: #f08435;
    opacity: 1;
    color: white;
  }
  .splide__arrow:focus {
    outline: none;
  }
  .splide__arrow--prev {
    left: 10px;
  }
  .splide__arrow--next {
    right: 10px;
  }
  .splide__pagination {
    bottom: -1.5em;
  }
  .splide__pagination__page.is-active {
    background: #f08435;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";
  var splide = new Splide("#slide-first", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    focus: "center",
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
  });

  splide.mount();
</script>
