---
import Title from "@/components/Title.astro";
// import ButtonReserva from "@/components/ButtonReserva.astro";
---

<section
  class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
>
  <Title
    title="Living in the Sun, Swimming in the Sea"
    subtitle="ABOUT US"
    align="text-center"
    size="text-3xl md:text-[3rem]"
  />
  <div class="grid grid-cols-1 md:grid-cols-2 mt-10 text-[15px]">
    <div class="py-5 px-8 leading-[27px]">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        dignissimos exercitationem doloremque, officiis itaque tenetur ducimus
        cum, odit error molestias ipsa atque. Nulla distinctio numquam nisi
        obcaecati cupiditate facilis aliquam nesciunt, ad excepturi atque et rem
        quo ut harum, explicabo quidem
      </p>
    </div>
    <div class="py-5 px-8 leading-[27px]">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        dignissimos exercitationem doloremque, officiis itaque tenetur ducimus
        cum, odit error molestias ipsa atque. Nulla distinctio numquam nisi
        obcaecati cupiditate facilis aliquam nesciunt, ad excepturi atque et rem
        quo ut harum, explicabo quidem
      </p>
    </div>
  </div>
</section>
<section class="bg-reserva w-full bg-background">
  <div class="w-full md:max-w-7xl mx-auto px-5 py-20">
    <div class="w-full min-h-full overflow-hidden">
      <img
        src="/images/terrazas-header.avif"
        alt="Terrazas del proyecto"
        class="w-full"
      />
    </div>
    <!-- <div class="w-full md:w-1/3 p-5">
      <Title
        title="Reserva tu terreno"
        subtitle="Tú lote te espera"
        align="text-left"
        size="text-2xl md:text-[2.3rem]"
      />
      <form action="" class="mt-5">
        <input
          type="text"
          class="p-3 border border-gray-300/60 w-full text-xs md:text-sm bg-transparent"
          placeholder="Nombre completo"
        />
        <input
          type="email"
          class="p-3 border border-gray-300/60 w-full text-xs md:text-sm bg-transparent mt-4"
          placeholder="Correo electrónico"
        />
        <textarea
          class="p-3 border border-gray-300/60 w-full text-xs md:text-sm bg-transparent mt-4"
          placeholder="Mensaje"></textarea>
        <span class="text-sm tracking-widest">Click para ver nustros lotes</span
        >
        <img src="/images/mapa.png" alt="Plano del terreno" class="w-full" />
        <ButtonReserva />
      </form>
    </div> -->
  </div>
</section>

<style>
  .bg-reserva {
    background-image: url("/images/bg-plants.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
