---
import Title from "@/components/Title.astro";
// import ButtonReserva from "@/components/ButtonReserva.astro";
---

<section
  class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
>
  <Title
    title="El único proyecto sobre terrazas del sur del Perú"
    subtitle="¿Estás listo?"
    align="text-center"
    size="text-3xl md:text-[3rem]"
  />
  <div class="grid grid-cols-1 md:grid-cols-2 mt-10 text-[15px]">
    <div class="py-5 px-8 leading-[27px]">
      <p>
        Descubre el paraíso en nuestro exclusivo condominio de playa con
        impresionantes vistas al mar en todos los lotes desde amplias terrazas.
        Diseñado para ofrecer comodidad y lujo, cada terreno cuenta con amplio
        espacio y acceso directo a la playa. Relájate con nuestras amenidades
        únicas, como piscinas, zona de parrilla, zona de mascotas y mucho más,
        disfrutando de actividades en familia.
      </p>
    </div>
    <div class="py-5 px-8 leading-[27px]">
      <p>
        Vive la experiencia de un estilo de vida exclusivo con servicios de
        primera clase y la tranquilidad que solo el sonido del mar puede
        proporcionar. ¡Tu hogar de ensueño te espera!
      </p>
    </div>
  </div>
</section>
<section class="bg-reserva w-full py-20 bg-background">
  <div class="splide">
    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev bg-accent">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
            fill="currentColor"></path></svg
        >
      </button>
      <button class="splide__arrow splide__arrow--next">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
            fill="currentColor"></path></svg
        >
      </button>
    </div>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img
            src="/images/slide-1.avif"
            alt="Terrazas del proyecto"
            class="w-full"
          />
        </li>
        <li class="splide__slide">
          <img
            src="/images/slide-2.avif"
            alt="Terrazas del proyecto"
            class="w-full"
          />
        </li>
        <li class="splide__slide">
          <img
            src="/images/slide-3.avif"
            alt="Terrazas del proyecto"
            class="w-full"
          />
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="w-full md:max-w-7xl mx-auto px-5 py-20">
    <div class="w-full min-h-full overflow-hidden">
      <img
        src="/images/terrazas-header.avif"
        alt="Terrazas del proyecto"
        class="w-full"
      />
    </div> -->
  <!-- <div class="w-full md:w-1/3 p-5">
      <Title
        title="Reserva tu terreno"
        subtitle="Tú lote te espera"
        align="text-left"
        size="text-2xl md:text-[2.3rem]"
      />
      <form action="" class="mt-5">
        <input
          type="text"
          class="p-3 border border-gray-300/60 w-full text-xs md:text-sm bg-transparent"
          placeholder="Nombre completo"
        />
        <input
          type="email"
          class="p-3 border border-gray-300/60 w-full text-xs md:text-sm bg-transparent mt-4"
          placeholder="Correo electrónico"
        />
        <textarea
          class="p-3 border border-gray-300/60 w-full text-xs md:text-sm bg-transparent mt-4"
          placeholder="Mensaje"></textarea>
        <span class="text-sm tracking-widest">Click para ver nustros lotes</span
        >
        <img src="/images/mapa.png" alt="Plano del terreno" class="w-full" />
        <ButtonReserva />
      </form>
    </div> -->
  <!-- </div> -->
</section>

<style>
  .bg-reserva {
    background-image: url("/images/bg-plants.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .splide__arrow {
    background: #f08435;
    opacity: 1;
    color: white;
  }
  .splide__arrow:focus {
    outline: none;
  }
  .splide__arrow--prev {
    left: 0px;
  }
  .splide__arrow--next {
    right: 0px;
  }
  .splide__pagination {
    bottom: -1.5em;
  }
  .splide__pagination__page.is-active {
    background: #f08435;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";
  var splide = new Splide(".splide", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    focus: "center",
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
  });

  splide.mount();
</script>
