---
import Title from "../Title.astro";
---

<section
  class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
>
  <Title
    title="No se detienen"
    subtitle="Las obras en manarola"
    align="text-center"
    size="text-3xl md:text-[3rem]"
  />
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div class="p-5 md:p-10 animation-bottom">
      <img
        src="/images/actividad-1.avif"
        alt="Primera etapa"
      />
      <div class="p-5 mt-2">
        <span
          class="text-sm uppercase font-medium tracking-[0.2em] text-secondary"
          >Culminado</span
        >
        <h3
          class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]"
        >
        Primera parte
        </h3>
        <p class="mt-5 text-[15px]">
            Esta etapa fue muy importante, ya que nos permitió otorgar la seguridad fiscal que los propietarios de Manarola desean.
        </p>
        <ul class="list-disc ml-5 mt-2 text-[15px]">
          <li>Adquisición del terreno</li>
          <li>Saneamiento legal y cumplimiento de regulaciones y permisos</li>
          <li>Factibilidad de servicios básicos de agua y luz</li>
        </ul>
      </div>
    </div>
    <div class="p-5 md:p-10 animation-bottom">
      <img
        src="/images/actividad-3.avif"
        alt="Segunda etapa"
        class="shadow-card"
      />
      <div class="p-5 mt-2">
        <span
          class="text-sm uppercase font-medium tracking-[0.2em] text-secondary"
          >En proceso</span
        >
        <h3
          class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]"
        >
            Segunda parte
        </h3>
        <p class="mt-5 text-[15px]">
            Una etapa decisiva para el avance del proyecto, ya que el movimiento de tierras y delimitación es sumamente importante para la culminación de las etapas siguientes, colocando los cimientos de nuestro increíble condominio.
        </p>
        <ul class="list-disc ml-5 mt-2 text-[15px]">
          <li>Conformación de vías de acceso y áreas urbanizadas</li>
          <li>Pórtico de ingreso y delimitación de áreas comunes</li>
        </ul>
      </div>
    </div>
    <div class="p-5 md:p-10 animation-bottom">
      <img
        src="/images/actividad-2.avif"
        alt="Tercera etapa"
      />
      <div class="p-5 mt-2">
        <span
          class="text-sm uppercase font-medium tracking-[0.2em] text-secondary"
          >Próximamente</span
        >
        <h3
          class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]"
        >
            Tercera parte
        </h3>
        <p class="mt-5 text-[15px]">
            Siendo una de las últimas partes clave para la culminación, el acceso a servicios básicos convertirá a nuestro proyecto en un condominio urbano y totalmente habitable.
        </p>
        <ul class="list-disc ml-5 mt-2 text-[15px]">
          <li>Redes de agua y desagüe</li>
        </ul>
      </div>
    </div>
    <div class="p-5 md:p-10 animation-bottom">
      <img
        src="/images/actividad-4.avif"
        alt="Cuarta etapa"
      />
      <div class="p-5 mt-2">
        <span
          class="text-sm uppercase font-medium tracking-[0.2em] text-secondary"
          >Próximamente</span
        >
        <h3
          class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]"
        >
            Cuarta parte
        </h3>
        <p class="mt-5 text-[15px]">
            La etapa que todos esperábamos, la entrega de los terrenos completamente independizados, con servicios y con todas las comodidades para que puedas vivir el sueño de despertar con una increíble vista a la playa y a orillas del mar.
        </p>
        <ul class="list-disc ml-5 mt-2 text-[15px]">
          <li>Conformación municipal</li>
          <li>Entrega a propietarios y titulación</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .shadow-card{
    box-shadow: 0px 0px 11px 3px rgba(251,184, 88, 1);
  -webkit-box-shadow: 0px 0px 11px 3px rgba(251,184, 88, 1);
  -moz-box-shadow: 0px 0px 11px 3px rgba(251,184, 88, 1);
  }
</style>