---
import Title from "../Title.astro";
---

<section
  class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
>
<Title
    title="Living in the Sun, Swimming in the Sea"
    subtitle="Activities"
    align="text-center"
    size="text-3xl md:text-[3rem]"
  />
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    <div class="p-10">
        <img src="https://askproject.net/laguna/wp-content/uploads/sites/108/2022/10/happy-girls-having-fun-cheering-with-cocktails-at-5V9ZUL7-1536x1024.jpg" alt="">
        <div class="p-5 mt-2">
            <span class="text-sm uppercase font-medium tracking-[0.2em] text-secondary">Special Offer</span>
            <h3 class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]">Best DJ Performance</h3>
            <p class="mt-5 text-[15px]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quasi architecto repellendus expedita molestias. Tenetur ea placeat velit hic odio.</p>
            <ul class="list-disc ml-5 mt-2 text-[15px]">
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
            </ul>
        </div>
    </div>
    <div class="p-10">
        <img src="https://askproject.net/laguna/wp-content/uploads/sites/108/2022/10/cheerful-woman-in-swimsuit-sitting-on-bench-UE3SBZY-1536x1024.jpg" alt="">
        <div class="p-5 mt-2">
            <span class="text-sm uppercase font-medium tracking-[0.2em] text-secondary">Special Offer</span>
            <h3 class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]">Best DJ Performance</h3>
            <p class="mt-5 text-[15px]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quasi architecto repellendus expedita molestias. Tenetur ea placeat velit hic odio.</p>
            <ul class="list-disc ml-5 mt-2 text-[15px]">
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
            </ul>
        </div>
    </div>
    <div class="p-10">
        <img src="https://askproject.net/laguna/wp-content/uploads/sites/108/2022/10/happy-romantic-hispanic-couple-resting-on-lounger-Z792KET-1536x1024.jpg" alt="">
        <div class="p-5 mt-2">
            <span class="text-sm uppercase font-medium tracking-[0.2em] text-secondary">Special Offer</span>
            <h3 class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]">Best DJ Performance</h3>
            <p class="mt-5 text-[15px]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quasi architecto repellendus expedita molestias. Tenetur ea placeat velit hic odio.</p>
            <ul class="list-disc ml-5 mt-2 text-[15px]">
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
            </ul>
        </div>
    </div>
    <div class="p-10">
        <img src="https://askproject.net/laguna/wp-content/uploads/sites/108/2022/10/couple-relax-on-beach-resort-villa-DHA5Z54-1536x1024.jpg" alt="">
        <div class="p-5 mt-2">
            <span class="text-sm uppercase font-medium tracking-[0.2em] text-secondary">Special Offer</span>
            <h3 class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]">Best DJ Performance</h3>
            <p class="mt-5 text-[15px]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quasi architecto repellendus expedita molestias. Tenetur ea placeat velit hic odio.</p>
            <ul class="list-disc ml-5 mt-2 text-[15px]">
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem, ipsum dolor.</li>
            </ul>
        </div>
    </div>
  </div>
</section>