---
import Title from "@/components/Title.astro";
---

<section class="py-14 md:py-28 px-5">
  <div class="max-w-7xl mx-auto">
    <Title
      title="Sobre terrazas"
      subtitle="La ventaja de vivir frente al mar"
    />
    <p class="text-center font-light text-sm md:text-base mt-5">
      Todas las casas tendrán una vista impresionante al mar podrás disfrutar de
      vistas hermosas a la playa y el sunset desde tu casa
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-5 md:gap-x-10 md:mt-10">
      <div class="text-center mt-5">
        <span class="text-base uppercase font-light tracking-widest block"
          >Así será la vista en tu futura casa de playa</span
        >
        <span class="bg-accent p-3 rounded-3xl text-white mt-3 block md:inline-block"
          >Da clic en tu manzana y míralo en 360°</span
        >
        <img src="/images/mapa.png" alt="" class="w-full mt-5" />
      </div>
      <div class="text-center mt-5">
        <span class="text-base uppercase font-light tracking-widest block"
          >Esta es una vista real de nuestras terrazas a orillas del mar</span
        >
        <img src="/images/360.png" alt="" class="w-full mt-5" />
      </div>
    </div>
  </div>
</section>
