---
import Title from "@/components/Title.astro";
import ButtonReserva from "@/components/ButtonReserva.astro";
---

<section class="py-14 md:py-20 px-5 bg-background">
  <div class="max-w-7xl mx-auto">
    <img
      src="/images/terrazas.svg"
      alt="Icono terrazas"
      class="w-20 mx-auto mb-5 animation-bottom"
    />
    <Title
      title="Sobre terrazas"
      subtitle="La ventaja de vivir frente al mar"
      align="text-center"
      size="text-4xl md:text-[3rem]"
    />
    <p class="text-center text-xs md:text-[15px] mt-5 mb-10 leading-[27px] animation-bottom">
      Todas las casas tendrán una vista impresionante al mar podrás disfrutar de
      vistas hermosas a la playa y el sunset desde tu casa
    </p>
    <ButtonReserva />
    <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-y-5 md:gap-x-10 md:mt-10">
      <div class="text-center mt-5">
        <span class="text-base uppercase font-light tracking-widest block"
          >Así será la vista en tu futura casa de playa</span
        >
        <span class="bg-accent p-3 rounded-3xl text-white mt-3 block md:inline-block"
          >Da clic en tu manzana y míralo en 360°</span
        >
        <img src="/images/mapa.png" alt="" class="w-full mt-5" />
      </div>
      <div class="text-center mt-5">
        <span class="text-base uppercase font-light tracking-widest block"
          >Esta es una vista real de nuestras terrazas a orillas del mar</span
        >
        <img src="/images/360.png" alt="" class="w-full mt-5" />
      </div>
    </div> -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="p-5 group">
        <img
          src="/images/terraza-1.avif"
          alt="Grupo de amigos disfrutando la vista"
          class="group-hover:-translate-y-2 transition-transform duration-300"
        />
      </div>
      <div class="p-5 md:mt-20 group">
        <img
          src="/images/terraza-2.avif"
          alt="Pareja dentro de una piscina"
          class="group-hover:-translate-y-2 transition-transform duration-300"
        />
      </div>
      <div class="p-5 group">
        <img
          src="/images/terraza-3.avif"
          alt="Mujer disfrutando de la vista al mar"
          class="group-hover:-translate-y-2 transition-transform duration-300"
        />
      </div>
    </div>
  </div>
</section>
