---
import ModalVideo from "../ModalVideo.astro";
import Information from "./Information.astro";
---

<section
  class="bg-white md:bg-transparent md:h-[70vh] px-7 flex flex-col items-center relative overflow-hidden"
>
  <video
    autoplay
    muted
    loop
    onplay="setCurTime()"
    preload="metadata"
    class="absolute top-0 left-0 bottom-0 md:w-full h-full md:h-screen object-cover scale-110 md:scale-105"
  >
    <source src="https://res.cloudinary.com/dnwshzyqp/video/upload/v1721363163/manarola/video_y2gtgo.mp4" type="video/mp4" />
  </video>

  <div class="w-full mx-auto h-full relative flex items-center justify-center">
    <div class="flex flex-col items-center justify-center py-12">
      <button
        type="button"
        class="w-20 h-20 flex items-center justify-center text-white mt-10 rounded-full border border-white/50 anim-ping show-button"
      >
        <span
          class="w-16 h-16 bg-white/30 rounded-full flex items-center justify-center"
        >
          <svg
            class="w-8 ml-1"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M17.284 11.134a1 1 0 0 1 0 1.732L6.716 18.967a1 1 0 0 1-1.5-.866V5.9a1 1 0 0 1 1.5-.866l10.568 6.101Z"
              fill="currentColor"></path></svg
          >
        </span>
      </button>
    </div>
  </div>
</section>
<Information />
<ModalVideo />

<style>
  .content-header{
    background-image: url('https://res.cloudinary.com/dnwshzyqp/image/upload/v1721360257/manarola/header_tkn4px.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .overlay {
    transition:
      background 0.3s,
      border-radius 0.3s,
      opacity 0.3s;
  }

  @keyframes ping {
    from {
      transform: none;
    }
    50% {
      transform: scale(1.1);
    }
    to {
      transform: none;
    }
  }
  .anim-ping {
    animation: ping 2s infinite;
  }

  dialog[open] {
    animation: fadein 0.5s ease-in forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script >
  const video = document.querySelector("dialog video");
  const videoBanner = document.querySelector("section video");
  const showButton = document.querySelector(".show-button");
  const alertDialog = document.querySelector("#alert-dialog");
  const buttonClose = document.querySelector(".btn-close-modal");

  showButton.addEventListener("click", function () {
    alertDialog.showModal();
    document.body.style.overflow = "hidden";
    video.play();
  });

  alertDialog.addEventListener("cancel", function () {
    document.body.style.overflow = "auto";
    video.load();
  });

  buttonClose?.addEventListener("click", () => {
    document.body.style.overflow = "auto";
    video?.pause();
    alertDialog.close();
  });

  function setCurTime() {
    if (window.innerWidth < 600) {
      videoBanner.currentTime=23
    }else{
      videoBanner.currentTime=4
    }
  }
  window.addEventListener('resize', setCurTime);
  setCurTime();
</script>
