---
import FormReserva from "../FormReserva.astro";
import ModalConfirmacion from "../ModalConfirmacion.astro";
import Title from "../Title.astro";
---

<section
  class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
  id="contacto"
>
  <div class="flex flex-col md:flex-row items-center gap-10">
    <div class="w-full">
      <Title
        title="Para más información"
        subtitle="Contáctanos"
        align="text-left"
        size="text-3xl md:text-[3rem]"
      />
      <ul class="text-[15px] mt-2 space-y-2 ml-5">
        <li>
          Dirección: Carretera Costanera Nte. Km 22, Quilca - Tramo Camaná -
          Mollendo
        </li>
        <li>
          Oficina: Urbanización el remanso B-4 - Cayma
        </li>
        <li>
          Teléfono comercial: 983 792 957
        </li>
      </ul>
      <div>
        <picture class="p-10 w-full relative">
          <img
            src="/images/precios.svg"
            alt="Esquema de precios"
            class="w-full"
            loading="lazy"
          />
          <a
            href="/archivos/terminos_y_condiciones_promociones.pdf"
            target="_blank"
            class="text-blue-800 text-sm underline italic hover:translate-y-1 transition-transform duration-300 p-1 absolute left-0 bottom-40 w-60"
            >Terminos y condiciones</a
          >
        </picture>
      </div>
    </div>
    <div class="w-full">
      <FormReserva />
      <ModalConfirmacion />
    </div>
  </div>
  <div class="w-full mt-10">
    <div
      class="w-full bg-[url('/images/mapa-02-m.avif')] md:bg-[url('/images/mapa-02.avif')] h-[270px] md:h-[550px] bg-no-repeat bg-contain"
    >
    </div>
    <iframe
      class="mt-10"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3821.5914378344723!2d-72.47161118931817!3d-16.69731618401051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91410ff6d4d6955d%3A0x3db2acae2af48385!2sManarola%20-%20Condominio%20de%20Playa!5e0!3m2!1ses-419!2spe!4v1715784832976!5m2!1ses-419!2spe"
      width="100%"
      height="550"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
