---
import Title from "@/components/Title.astro";
import ButtonReserva from "../ButtonReserva.astro";
---

<section class="bg-background bg-reserva">
  <div
    class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
  >
    <div class="flex items-center justify-between w-full">
      <Title
        title="Comodidades y lujos que tendrás en Manarola"
        subtitle="Amenidades"
        align="text-left"
        size="text-3xl md:text-[3rem]"
      />
      <ButtonReserva />
    </div>
    <p class="text-left w-full">“TODO EN UN SOLO LUGAR”</p>
    <!-- <div class="grid grid-cols-1 md:grid-cols-4 mt-10"> -->
    <div id="slide-amenidades" class="splide w-full mt-10">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="p-10 border-l border-r border-primary/30 w-full">
              <svg
                class="w-16 fill-zinc-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                xml:space="preserve"
                ><path
                  d="m224.653 23.472-1.109-7.758c-10.65 1.521-26.185 6.3-35.463 15.703-9.279-9.403-24.813-14.181-35.463-15.703l-2.216 15.517c6.304.901 29.842 6.656 29.842 18.364h15.673c0-5.186 4.472-9.757 13.292-13.59 8.089-3.514 16.479-4.765 16.563-4.776l-1.119-7.757zM308.245 75.717l-1.109-7.758c-10.65 1.521-26.185 6.3-35.463 15.703-9.279-9.403-24.813-14.181-35.463-15.703l-2.216 15.517c6.304.901 29.842 6.656 29.842 18.364h15.673c0-5.186 4.472-9.757 13.292-13.59 8.089-3.514 16.479-4.765 16.563-4.776l-1.119-7.757zM26.122 459.715H47.02v15.673H26.122zM67.918 417.919h20.898v15.673H67.918zM67.918 480.613h20.898v15.673H67.918zM130.612 470.164h20.898v15.673h-20.898zM203.755 480.613h20.898v15.673h-20.898zM203.755 428.368h20.898v15.673h-20.898zM266.449 417.919h20.898v15.673h-20.898zM339.592 449.266h20.898v15.673h-20.898zM287.347 480.613h20.898v15.673h-20.898zM391.837 417.919h20.898v15.673h-20.898zM391.837 480.613h20.898v15.673h-20.898zM464.98 449.266h20.898v15.673H464.98zM219.429 318.654h47.02v15.673h-47.02zM276.898 318.654h20.898v15.673h-20.898zM20.898 339.552h47.02v15.673h-47.02zM78.367 339.552h20.898v15.673H78.367zM407.51 339.552h47.02v15.673h-47.02zM376.163 339.552h20.898v15.673h-20.898z"
                ></path><path
                  d="M512 287.309v-15.673H154.122v-57.469h99.265v-7.837c0-59.057-48.045-107.102-107.102-107.102S39.184 147.273 39.184 206.329v7.837h99.265v57.469H0v15.673h138.449v88.816H0v15.674h138.449v31.347h-23.51v15.673h62.694v-15.673h-23.51v-31.347H512v-15.674H154.122v-88.816H512zm-274.618-88.817h-46.891c-1.768-38.054-16.039-66.042-26.755-81.921 39.596 7.685 70.155 41.002 73.646 81.921zm-182.193 0c3.499-41.011 34.189-74.38 73.914-81.966-12.07 17.268-29.727 47.89-32.165 81.966H55.189zm57.477 0c2.868-34.181 23.526-65.466 33.763-79.066 9.151 12.074 26.295 39.7 28.364 79.066h-62.127z"
                ></path><path
                  d="M412.735 73.105c-38.891 0-70.531 31.64-70.531 70.531s31.639 70.531 70.531 70.531 70.531-31.639 70.531-70.531-31.64-70.531-70.531-70.531zm0 125.387c-30.248 0-54.857-24.608-54.857-54.857s24.609-54.857 54.857-54.857c30.248 0 54.857 24.608 54.857 54.857s-24.61 54.857-54.857 54.857z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Club house</h3>
              <p class="font-light text-sm text-primary mt-3">
                Un oasis de relajación y esparcimiento, con piscinas rodeadas de bellas áreas verdes creando en un ambiente de serenidad y frescura.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                class="w-16 fill-zinc-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 470 470"
                xml:space="preserve"
                ><path
                  d="M463.404 78.948 391.047 6.591C386.797 2.341 381.145 0 375.134 0s-11.661 2.341-15.911 6.591-6.59 9.9-6.59 15.911c0 3.412.779 6.697 2.208 9.687l-17.476 17.475c-30.96-17.127-65.949-26.244-102.371-26.244-56.602 0-109.758 21.984-149.677 61.902C17.174 153.468 5.304 256.894 49.69 337.34l-17.506 17.506a22.39 22.39 0 0 0-9.687-2.208c-6.01 0-11.661 2.34-15.912 6.59-8.772 8.773-8.772 23.049 0 31.823l72.358 72.357c4.25 4.25 9.9 6.591 15.911 6.591s11.661-2.34 15.912-6.591c6.912-6.912 8.354-17.23 4.375-25.591l17.484-17.484c30.96 17.127 65.949 26.244 102.371 26.244 56.602 0 109.757-21.984 149.675-61.902 68.144-68.144 80.015-171.571 35.629-252.018l17.505-17.505a22.39 22.39 0 0 0 9.687 2.208 22.35 22.35 0 0 0 15.91-6.59 22.353 22.353 0 0 0 6.592-15.912 22.35 22.35 0 0 0-6.59-15.91zM100.16 452.802C98.742 454.22 96.858 455 94.854 455s-3.887-.78-5.304-2.197l-72.358-72.357c-2.925-2.925-2.925-7.685-.001-10.609 1.418-1.417 3.302-2.197 5.306-2.197s3.888.78 5.305 2.197l72.357 72.358c2.926 2.923 2.926 7.682.001 10.607zm5.302-26.519-61.75-61.75 13.942-13.942a211.683 211.683 0 0 0 27.665 34.084 212.938 212.938 0 0 0 34.068 27.684l-13.925 13.924zm268.602-52.213c-37.084 37.084-86.473 57.508-139.067 57.508-35.53 0-69.589-9.333-99.388-26.813a7.477 7.477 0 0 0-.892-.52c-13.977-8.299-27.006-18.393-38.79-30.177-76.684-76.683-76.684-201.455-.002-278.138 37.085-37.085 86.474-57.509 139.069-57.509 35.523 0 69.576 9.329 99.371 26.802.298.205.608.384.927.541 13.969 8.297 26.993 18.387 38.771 30.166 76.685 76.684 76.685 201.457.001 278.14zm10.608-288.747a212.985 212.985 0 0 0-34.067-27.684l13.923-13.923 61.75 61.75-13.941 13.941a211.77 211.77 0 0 0-27.665-34.084zm68.125 14.842c-1.416 1.417-3.3 2.197-5.304 2.197s-3.889-.78-5.305-2.197l-72.357-72.358c-1.417-1.417-2.197-3.301-2.197-5.305s.78-3.888 2.197-5.305c1.416-1.417 3.3-2.197 5.304-2.197s3.888.78 5.305 2.197l72.358 72.358a7.453 7.453 0 0 1 2.197 5.305 7.457 7.457 0 0 1-2.198 5.305z"
                ></path><path
                  d="M363.456 106.539c-34.267-34.262-79.886-53.128-128.461-53.128-48.578 0-94.2 18.868-128.461 53.128-70.83 70.831-70.832 186.08-.005 256.913 34.273 34.269 79.892 53.135 128.468 53.135 48.577 0 94.198-18.868 128.459-53.127 70.831-70.831 70.832-186.081 0-256.921zm37.659 115.944L317.1 306.498l-30.445-30.445L389.698 173.01a166.985 166.985 0 0 1 11.417 49.473zm-43.088 124.942-30.32-30.32 73.664-73.663c-1.885 37.491-16.335 74.458-43.344 103.983zm-56.836-14.41a7.5 7.5 0 0 0-10.607 0l-68.114 68.114c-17.18-1.263-33.829-5.131-49.499-11.392l87.167-87.168a7.5 7.5 0 0 0-10.607-10.606l-91.118 91.119a166.197 166.197 0 0 1-35.845-25.047l112.427-112.427 76.801 76.801 35.627 35.627c-28.676 26.25-65.09 41.426-103.99 43.345l57.758-57.758a7.502 7.502 0 0 0 0-10.608zm-214.249-21.46 107.001-107.001L224.388 235 111.964 347.424a165.747 165.747 0 0 1-25.022-35.869zm-18.067-64.038 84.016-84.016 30.445 30.445L80.293 296.99a167.018 167.018 0 0 1-11.418-49.473zm43.088-124.943 30.321 30.321-73.664 73.664c1.884-37.492 16.334-74.46 43.343-103.985zM297.02 80.263l-87.168 87.168a7.5 7.5 0 0 0 5.304 12.803 7.478 7.478 0 0 0 5.304-2.197l91.119-91.119a166.12 166.12 0 0 1 35.844 25.047L234.995 224.392l-35.747-35.747-35.75-35.751 84.024-84.024c17.179 1.264 33.829 5.132 49.498 11.393zm-144.129 62.025-30.323-30.323c28.676-26.249 65.089-41.426 103.99-43.344l-73.667 73.667zm123.157 123.158L245.602 235l112.425-112.425a165.768 165.768 0 0 1 25.023 35.87L276.048 265.446z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Zona de fogatas y parrillas</h3>
              <p class="font-light text-sm text-primary mt-3">
                Disfruta la experiencia culinaria con amigos y familiares deliciosas comidas al aire libre.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                class="w-16 fill-zinc-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 268.396 268.396"
                ><path
                  d="M262.396 209.848h-1.612v-157.3a6 6 0 0 0-6-6H13.612a6 6 0 0 0-6 6v157.3H6a6 6 0 0 0 0 12h15.223a6 6 0 0 0 0-12h-1.611V75.574h41.191v97.607h-1.201a6 6 0 0 0 0 12h50.325a6 6 0 0 0 0-12h-1.201V75.574h50.942v97.607h-1.201a6 6 0 0 0 0 12h50.325a6 6 0 0 0 0-12h-1.201V75.574h41.191v134.273h-1.611a6 6 0 0 0 0 12h15.223c3.313 0 6-2.687 6-6s-2.685-5.999-5.998-5.999zM96.727 173.181H72.803V75.574h23.924v97.607zm98.866 0h-23.924V75.574h23.924v97.607zM19.612 63.574v-5.026h229.172v5.026H19.612z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Juegos para niños</h3>
              <p class="font-light text-sm text-primary mt-3">
                Zona divertida y exclusivamente para los más pequeños dejando que su imaginación florezca con coloridos juegos.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                class="w-16 fill-zinc-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 228.804 228.804"
                xml:space="preserve"
                ><path
                  d="M184.475 161.189c-2.368-3.731-19.724-30.767-34.558-45.068-12.376-11.883-30.9-12.227-33-12.227a7.718 7.718 0 0 0-.571.023h-4.491c-1.984 0-19.761.338-32.763 12.042C63.05 130.416 45.3 159.575 44.058 161.63c-9.403 14.867-15.166 24.536-15.166 35.286 0 19.371 14.193 31.888 36.158 31.888h98.711c21.959 0 36.148-12.529 36.148-31.92 0-10.845-5.777-20.5-15.205-35.353a8.142 8.142 0 0 0-.229-.342zm-20.714 52.615H65.05c-7.902 0-21.158-2.194-21.158-16.888 0-6.279 4.126-13.489 12.885-27.334l.087-.14c.175-.29 17.631-29.146 32.267-42.336 8.925-8.034 22.597-8.187 22.73-8.188h5.08c.143 0 .284-.004.426-.012 2.441.092 14.739.907 22.152 8.024 14.283 13.772 32.324 42.347 32.505 42.634.081.129.165.254.253.376 9.316 14.698 12.633 21.018 12.633 26.942-.001 13.986-11.502 16.922-21.149 16.922zM78.198 85.731c16.929 0 30.189-18.831 30.189-42.87C108.388 18.827 95.127 0 78.198 0 61.271 0 48.011 18.827 48.011 42.861c0 24.04 13.26 42.87 30.187 42.87zm0-70.731c7.184 0 15.189 11.442 15.189 27.861 0 16.424-8.006 27.87-15.189 27.87S63.01 59.285 63.01 42.861C63.011 26.442 71.015 15 78.198 15zM38.664 137.296c2.951 0 5.77-.607 8.413-1.82 13.162-6.12 16.827-25.327 8.34-43.731-6.585-14.252-18.767-23.827-30.316-23.827-2.954 0-5.777.609-8.401 1.817-13.18 6.099-16.857 25.31-8.368 43.746 6.585 14.244 18.774 23.814 30.33 23.815h.002zm-16.712-30.099c-5.076-11.024-3.635-21.683 1.033-23.842.639-.294 1.33-.437 2.115-.437 4.71 0 12.162 5.298 16.697 15.113 5.076 11.008 3.635 21.668-1.011 23.828-.642.294-1.336.438-2.123.438-4.716-.001-12.177-5.297-16.711-15.1zM150.591 85.731c16.923 0 30.18-18.831 30.18-42.87C180.771 18.827 167.514 0 150.591 0c-16.939 0-30.207 18.827-30.207 42.861 0 24.04 13.268 42.87 30.207 42.87zm0-70.731c7.18 0 15.18 11.442 15.18 27.861 0 16.424-8 27.87-15.18 27.87-7.192 0-15.207-11.446-15.207-27.87 0-16.419 8.015-27.861 15.207-27.861zM212.104 69.737c-2.617-1.212-5.447-1.827-8.411-1.827-11.532 0-23.71 9.578-30.299 23.827-8.525 18.396-4.863 37.61 8.368 43.756 2.609 1.197 5.429 1.804 8.38 1.804 11.559 0 23.745-9.572 30.324-23.822 8.496-18.423 4.821-37.636-8.362-43.738zm-5.258 37.453c-4.53 9.812-11.987 15.106-16.704 15.106-.788 0-1.482-.143-2.093-.423-4.696-2.181-6.141-12.835-1.043-23.835 4.544-9.827 11.988-15.129 16.687-15.129.781 0 1.47.143 2.107.438 4.684 2.17 6.126 12.828 1.046 23.843z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Zona de mascotas</h3>
              <p class="font-light text-sm text-primary mt-3">
                Un entorno donde tus mascotas pueden correr, jugar y disfrutar también de la playa.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- </div> -->
  </div>
</section>

<style>
  .bg-reserva {
    background-image: url("/images/bg-plants.avif");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";

  var splideAmenidades = new Splide("#slide-amenidades", {
    type: "loop",
    autoplay: true,
    perPage: 4,
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
  });

  splideAmenidades.mount();
</script>