---
import Title from "@/components/Title.astro";
import ButtonReserva from "../ButtonReserva.astro";
---

<section class="bg-background bg-reserva" id="amenidades">
  <div
    class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
  >
    <div class="flex items-center justify-between w-full">
      <Title
        title="Comodidades y lujos que tendrás en Manarola"
        subtitle="Amenidades"
        align="text-left"
        size="text-3xl md:text-[3rem]"
      />
      <ButtonReserva />
    </div>
    <p class="text-left w-full">“TODO EN UN SOLO LUGAR”</p>
    <!-- <div class="grid grid-cols-1 md:grid-cols-4 mt-10"> -->
    <div id="slide-amenidades" class="splide w-full mt-10">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="p-10 border-l border-r border-primary/30 w-full">
              <svg
                version="1.1"
                class="w-16 fill-zinc-500"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                x="0"
                y="0"
                viewBox="0 0 724.32 737.69"
                style="enable-background:new 0 0 724.32 737.69"
                xml:space="preserve"
                ><path
                  class="st0"
                  d="M213.91 469.94c-5.49 0-9.93 4.45-9.93 9.93v17.88c0 5.49 4.45 9.93 9.93 9.93 5.49 0 9.93-4.45 9.93-9.93v-17.88c.01-5.48-4.44-9.93-9.93-9.93z"
                ></path><path
                  class="st0"
                  d="M670.65 601.86h-16.08V326.23c26.64-4.72 46.95-28.02 46.95-56v-38.25c0-.19-.02-.39-.03-.58-.01-.11-.01-.21-.02-.32-.04-.39-.09-.78-.17-1.15 0-.02-.01-.04-.02-.06-.08-.36-.18-.71-.3-1.06-.03-.09-.06-.17-.1-.26-.11-.3-.23-.59-.37-.87-.03-.05-.04-.11-.07-.16l-43.93-87.36V94.47c0-11.79-9.59-21.39-21.39-21.39H183.39c-5.49 0-9.93 4.45-9.93 9.93s4.45 9.93 9.93 9.93h451.75c.84 0 1.52.68 1.52 1.52v38.21H89.2v-38.2c0-.84.68-1.52 1.52-1.52h46.45c5.49 0 9.93-4.45 9.93-9.93s-4.45-9.93-9.93-9.93H90.72c-11.79 0-21.39 9.59-21.39 21.39v45.69l-43.92 87.36c-.03.05-.04.11-.07.16-.14.28-.26.57-.37.87-.03.09-.07.17-.1.26-.12.35-.22.7-.3 1.06-.01.02-.01.04-.02.06-.08.38-.14.76-.17 1.15-.01.11-.01.21-.02.32-.01.19-.03.38-.03.58v38.25c0 27.98 20.31 51.28 46.95 56v275.63H55.21c-17.3 0-31.38 14.08-31.38 31.38v31.42c0 8.83 7.18 16.01 16.01 16.01H686c8.83 0 16.01-7.18 16.01-16.01v-31.42c.01-17.31-14.06-31.39-31.36-31.39zm10.99-331.63c0 20.41-16.61 37.02-37.02 37.02s-37.02-16.61-37.02-37.02v-28.31h74.03l.01 28.31zm-41.12-117.68 34.95 69.5h-70.8l-24.96-69.5h60.81zm-81.93 0 24.96 69.5H511.8l-14.98-69.5h61.77zm29.15 89.37v28.31c0 20.41-16.61 37.02-37.02 37.02-20.41 0-37.02-16.61-37.02-37.02v-28.31h74.04zM476.5 152.55l14.98 69.5h-72.35l-4.99-69.5h62.36zm17.34 89.37v28.31c0 20.41-16.61 37.02-37.01 37.02-20.41 0-37.02-16.61-37.02-37.02v-28.31h74.03zm-162.2-89.37h62.57l4.99 69.5h-72.55l4.99-69.5zm-5.73 89.37h74.03v28.31c0 20.41-16.61 37.02-37.02 37.02s-37.02-16.61-37.02-37.02v-28.31zm37.02 85.2c19.48 0 36.69-9.84 46.95-24.81 10.26 14.97 27.47 24.81 46.95 24.81 19.48 0 36.69-9.84 46.95-24.81 10.26 14.97 27.47 24.81 46.95 24.81s36.69-9.84 46.95-24.81c8.47 12.36 21.7 21.21 37.02 23.93v275.63H260.72V381.1c0-10.19-8.29-18.48-18.48-18.48H127.39c-10.19 0-18.48 8.29-18.48 18.48v220.76H91.17V326.23c15.32-2.71 28.54-11.56 37.02-23.93 10.26 14.97 27.47 24.81 46.95 24.81s36.69-9.84 46.95-24.81c10.26 14.97 27.47 24.81 46.95 24.81s36.69-9.84 46.95-24.81c10.25 14.97 27.46 24.82 46.94 24.82zm-122.08 55.37v219.37H128.78V382.49h112.07zM138.11 270.23v-28.31h74.03v28.31c0 20.41-16.61 37.02-37.02 37.02s-37.01-16.61-37.01-37.02zm111.25-117.68h62.36l-4.99 69.5h-72.35l14.98-69.5zm-17.35 89.37h74.03v28.31c0 20.41-16.61 37.02-37.02 37.02-20.41 0-37.01-16.61-37.01-37.02v-28.31zm-2.98-89.37-14.98 69.5H142.3l24.96-69.5h61.77zm-143.69 0h60.81l-24.96 69.5H50.4l34.94-69.5zM44.22 270.23v-28.31h74.03v28.31c0 20.41-16.61 37.02-37.02 37.02-20.41 0-37.01-16.61-37.01-37.02zm-.52 390.58v-27.57c0-6.35 5.16-11.51 11.51-11.51h615.43c6.35 0 11.51 5.16 11.51 11.51v27.57H43.7z"
                ></path><path
                  class="st0"
                  d="M589.13 362.62H467.65c-5.49 0-9.93 4.45-9.93 9.93s4.45 9.93 9.93 9.93h120.09v156.35h-286.4V382.49h119.54c5.49 0 9.93-4.45 9.93-9.93s-4.45-9.93-9.93-9.93H299.94c-10.19 0-18.48 8.29-18.48 18.48v159.13c0 10.19 8.29 18.48 18.48 18.48h289.19c10.19 0 18.48-8.29 18.48-18.48V381.1c0-10.19-8.29-18.48-18.48-18.48z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Área comercial</h3>
              <p class="font-light text-sm text-primary mt-3">
                Espacio exclusivo con todo lo necesario para tus vacaciones
                dentro de Manarola, donde encontrarás víveres, ropa, artículos y
                restaurantes.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                class="w-16 fill-zinc-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                xml:space="preserve"
                ><path
                  d="m224.653 23.472-1.109-7.758c-10.65 1.521-26.185 6.3-35.463 15.703-9.279-9.403-24.813-14.181-35.463-15.703l-2.216 15.517c6.304.901 29.842 6.656 29.842 18.364h15.673c0-5.186 4.472-9.757 13.292-13.59 8.089-3.514 16.479-4.765 16.563-4.776l-1.119-7.757zM308.245 75.717l-1.109-7.758c-10.65 1.521-26.185 6.3-35.463 15.703-9.279-9.403-24.813-14.181-35.463-15.703l-2.216 15.517c6.304.901 29.842 6.656 29.842 18.364h15.673c0-5.186 4.472-9.757 13.292-13.59 8.089-3.514 16.479-4.765 16.563-4.776l-1.119-7.757zM26.122 459.715H47.02v15.673H26.122zM67.918 417.919h20.898v15.673H67.918zM67.918 480.613h20.898v15.673H67.918zM130.612 470.164h20.898v15.673h-20.898zM203.755 480.613h20.898v15.673h-20.898zM203.755 428.368h20.898v15.673h-20.898zM266.449 417.919h20.898v15.673h-20.898zM339.592 449.266h20.898v15.673h-20.898zM287.347 480.613h20.898v15.673h-20.898zM391.837 417.919h20.898v15.673h-20.898zM391.837 480.613h20.898v15.673h-20.898zM464.98 449.266h20.898v15.673H464.98zM219.429 318.654h47.02v15.673h-47.02zM276.898 318.654h20.898v15.673h-20.898zM20.898 339.552h47.02v15.673h-47.02zM78.367 339.552h20.898v15.673H78.367zM407.51 339.552h47.02v15.673h-47.02zM376.163 339.552h20.898v15.673h-20.898z"
                ></path><path
                  d="M512 287.309v-15.673H154.122v-57.469h99.265v-7.837c0-59.057-48.045-107.102-107.102-107.102S39.184 147.273 39.184 206.329v7.837h99.265v57.469H0v15.673h138.449v88.816H0v15.674h138.449v31.347h-23.51v15.673h62.694v-15.673h-23.51v-31.347H512v-15.674H154.122v-88.816H512zm-274.618-88.817h-46.891c-1.768-38.054-16.039-66.042-26.755-81.921 39.596 7.685 70.155 41.002 73.646 81.921zm-182.193 0c3.499-41.011 34.189-74.38 73.914-81.966-12.07 17.268-29.727 47.89-32.165 81.966H55.189zm57.477 0c2.868-34.181 23.526-65.466 33.763-79.066 9.151 12.074 26.295 39.7 28.364 79.066h-62.127z"
                ></path><path
                  d="M412.735 73.105c-38.891 0-70.531 31.64-70.531 70.531s31.639 70.531 70.531 70.531 70.531-31.639 70.531-70.531-31.64-70.531-70.531-70.531zm0 125.387c-30.248 0-54.857-24.608-54.857-54.857s24.609-54.857 54.857-54.857c30.248 0 54.857 24.608 54.857 54.857s-24.61 54.857-54.857 54.857z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Club house</h3>
              <p class="font-light text-sm text-primary mt-3">
                Un oasis de relajación y esparcimiento, con piscinas rodeadas de
                bellas áreas verdes creando en un ambiente de serenidad y
                frescura.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                version="1.1"
                class="w-16 fill-zinc-500"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                x="0"
                y="0"
                viewBox="0 0 724.32 737.69"
                style="enable-background:new 0 0 724.32 737.69"
                xml:space="preserve"
                ><g
                  ><g transform="translate(0 8)"
                    ><path
                      class="st0"
                      d="M662.29 666.45h-148.9v-17.59h148.89v17.59zm-166.48 0H62.03v-17.59H495.8v17.59z"
                    ></path></g
                  ><g transform="translate(424 124)"
                    ><path
                      class="st0"
                      d="M135.12 414.45c-56.56 0-102.58-46.02-102.58-102.58V72.37h17.59v239.5c0 46.87 38.13 85 85 85s85-38.13 85-85V162.82h17.59v149.06c-.02 56.56-46.04 102.57-102.6 102.57zM237.7 145.23h-17.59V53.95c0-46.87-38.13-85-85-85s-85 38.13-85 85v.84H32.54v-.84c0-56.56 46.02-102.58 102.58-102.58S237.7-2.61 237.7 53.95v91.28z"
                    ></path></g
                  ><g transform="translate(424 398)"
                    ><path class="st0" d="M126.32-189.57h17.59v457.22h-17.59z"
                    ></path></g
                  ><g transform="translate(464 215)"
                    ><path
                      transform="rotate(-45.001 118.562 231.426)"
                      class="st0"
                      d="M85.4 222.63h66.32v17.59H85.4z"></path></g
                  ><g transform="translate(464 311)"
                    ><path
                      transform="rotate(-45.001 118.564 22.878)"
                      class="st0"
                      d="M85.4 14.08h66.32v17.59H85.4z"></path></g
                  ><g transform="translate(384 263)"
                    ><path
                      transform="rotate(-45.001 151.666 127.151)"
                      class="st0"
                      d="M142.88 93.99h17.59v66.32h-17.59z"></path></g
                  ><g transform="translate(384 359)"
                    ><path
                      transform="rotate(-45.001 151.67 -81.394)"
                      class="st0"
                      d="M142.88-114.56h17.59v66.32h-17.59z"></path></g
                  ><g transform="translate(128 68)"
                    ><path
                      class="st0"
                      d="M13.76 606.45c-43.63 0-79.13-35.5-79.13-79.13s35.5-79.13 79.13-79.13 79.13 35.5 79.13 79.13-35.5 79.13-79.13 79.13zm0-140.69c-33.94 0-61.55 27.61-61.55 61.55s27.61 61.55 61.55 61.55 61.55-27.61 61.55-61.55-27.62-61.55-61.55-61.55z"
                    ></path></g
                  ><g transform="translate(338 68)"
                    ><path
                      class="st0"
                      d="M49.95 606.45c-43.63 0-79.13-35.5-79.13-79.13s35.5-79.13 79.13-79.13 79.13 35.5 79.13 79.13-35.49 79.13-79.13 79.13zm0-140.69c-33.94 0-61.55 27.61-61.55 61.55s27.61 61.55 61.55 61.55 61.55-27.61 61.55-61.55-27.61-61.55-61.55-61.55z"
                    ></path></g
                  ><g transform="translate(267.74 39.81)"
                    ><path
                      class="st0"
                      d="M105.18 596.82c-22.78-8.29-34.57-33.57-26.28-56.35l16.52 6.01c-4.97 13.67 2.1 28.84 15.77 33.81l-6.01 16.53z"
                    ></path></g
                  ><g transform="translate(57.74 39.81)"
                    ><path
                      class="st0"
                      d="M68.98 596.82c-22.78-8.29-34.57-33.57-26.28-56.35l16.52 6.01c-4.97 13.67 2.1 28.84 15.77 33.81l-6.01 16.53z"
                    ></path></g
                  ><g transform="translate(288.26 96.19)"
                    ><path
                      class="st0"
                      d="m141 514.16-16.52-6.02c2.41-6.61 2.09-13.77-.9-20.16-2.98-6.4-8.26-11.24-14.87-13.65l6.01-16.52c11.02 4.01 19.83 12.09 24.79 22.74 4.98 10.65 5.51 22.59 1.49 33.61z"
                    ></path></g
                  ><g transform="translate(230 158)"
                    ><path
                      class="st0"
                      d="M48.23 446.11h-150.56l60.18-123.1h158.77l-68.39 123.1zm-122.39-17.59H37.89l48.85-87.93H-31.17l-42.99 87.93z"
                    ></path></g
                  ><g transform="translate(148 188)"
                    ><path class="st0" d="M17.2 257.84h70.34v17.59H17.2z"
                    ></path></g
                  ><g transform="translate(282 64)"
                    ><path
                      class="st0"
                      d="M102.81 540.01 23.74 385.56l23.93-11.96-6.1-14.04H6.3v-17.58h46.8l17.34 39.89-22.96 11.48L118.47 532z"
                    ></path></g
                  ><g transform="translate(112 186)"
                    ><path
                      class="st0"
                      d="M154.04 414.61 72.55 306.75v-35.78h17.58v29.88l77.95 103.16z"
                    ></path></g
                  ><g transform="translate(240 324)"
                    ><path
                      class="st0"
                      d="M103.4-20.02H69.55V-37.6h33.85c13.25 0 24.03-10.78 24.03-24.03 0-13.25-10.78-24.03-24.03-24.03-1.58 0-3.17.16-4.73.47l-7.05 1.41-2.78-6.63c-5.96-14.2-19.75-23.38-35.15-23.38-12.02 0-23.1 5.51-30.38 15.11l-3.82 5.03-5.99-2.01c-2.47-.83-5.05-1.25-7.65-1.25-12.39 0-22.9 9.66-23.94 21.98l-.71 8.44-8.46-.39c-.22-.01-.44-.02-.66-.02-8.08 0-14.65 6.57-14.65 14.65S-36-37.6-27.92-37.6h79.87v17.59H-27.9c-17.78 0-32.24-14.46-32.24-32.24 0-15.6 11.13-28.64 25.87-31.61 4.87-17.68 21.25-30.64 40.13-30.64 2.45 0 4.88.21 7.28.64 10.5-11.2 24.98-17.52 40.56-17.52 20.25 0 38.6 10.86 48.42 28.16.43-.01.86-.02 1.29-.02 22.95 0 41.62 18.67 41.62 41.62s-18.68 41.6-41.63 41.6z"
                    ></path></g
                  ><g transform="translate(103 444)"
                    ><path
                      class="st0"
                      d="M44.62-245.53c-24.24 0-43.96-19.72-43.96-43.96s19.72-43.96 43.96-43.96 43.96 19.72 43.96 43.96-19.72 43.96-43.96 43.96zm0-70.34c-14.54 0-26.38 11.83-26.38 26.38s11.83 26.38 26.38 26.38S71-274.95 71-289.5s-11.84-26.37-26.38-26.37z"
                    ></path></g
                  ><g transform="translate(65.5 504)"
                    ><path class="st0" d="M73.32-428.63h17.59v17.59H73.32z"
                    ></path></g
                  ><g transform="translate(80.5 384)"
                    ><path class="st0" d="M58.32-167.95h17.59v17.59H58.32z"
                    ></path></g
                  ><g transform="translate(25.27 481.123)"
                    ><path
                      transform="rotate(-45.001 72.613 -376.358)"
                      class="st0"
                      d="M63.82-385.15H81.4v17.59H63.82z"></path></g
                  ><g transform="translate(120.73 406.877)"
                    ><path
                      transform="rotate(-45.001 76.63 -202.629)"
                      class="st0"
                      d="M67.83-211.43h17.58v17.59H67.83z"></path></g
                  ><g transform="translate(13 436.5)"
                    ><path class="st0" d="M55.48-290.79h17.59v17.59H55.48z"
                    ></path></g
                  ><g transform="translate(133 451.5)"
                    ><path class="st0" d="M76.17-305.79h17.59v17.59H76.17z"
                    ></path></g
                  ><g transform="translate(35.877 396.27)"
                    ><path
                      transform="rotate(-45.001 62.005 -192.022)"
                      class="st0"
                      d="M53.21-200.82H70.8v17.58H53.21z"></path></g
                  ><g transform="translate(110.123 491.73)"
                    ><path
                      transform="rotate(-45.001 87.238 -386.965)"
                      class="st0"
                      d="M78.44-395.76h17.59v17.58H78.44z"></path></g
                  ><g transform="translate(225 435)"
                    ><path
                      class="st0"
                      d="M177.02-261.15h-76.2c-21.01 0-38.1-17.09-38.1-38.1s17.09-38.1 38.1-38.1c5.97 0 11.75 1.37 17 4 5.25-2.63 11.03-4 17-4 3.63 0 7.26.53 10.74 1.55 8.21-8.41 19.54-13.27 31.46-13.27 24.24 0 43.96 19.72 43.96 43.96s-19.72 43.96-43.96 43.96zm-76.2-58.62c-11.31 0-20.52 9.2-20.52 20.52 0 11.31 9.2 20.52 20.52 20.52h76.2c14.54 0 26.38-11.83 26.38-26.38s-11.83-26.38-26.38-26.38c-8.58 0-16.65 4.2-21.59 11.24l-4.41 6.28-6.82-3.52a20.231 20.231 0 0 0-9.38-2.27c-4.29 0-8.4 1.32-11.89 3.81l-5.11 3.64-5.11-3.64c-3.49-2.5-7.6-3.82-11.89-3.82z"
                    ></path></g
                  ><g transform="translate(461 433)"
                    ><path class="st0" d="M141.49-274.39h49.24v17.59h-49.24z"
                    ></path></g
                  ><g transform="translate(447 463)"
                    ><path class="st0" d="M139.08-339.56h53.93v17.59h-53.93z"
                    ></path></g
                  ><g transform="translate(417 463)"
                    ><path class="st0" d="M133.91-339.56h17.59v17.59h-17.59z"
                    ></path></g
                  ><g transform="translate(400 166)"
                    ><path class="st0" d="M113.39 305.63h17.59v17.59h-17.59z"
                    ></path></g
                  ><g transform="translate(384 196)"
                    ><path class="st0" d="M110.64 240.46h17.59v17.59h-17.59z"
                    ></path></g
                  ></g
                ></svg
              >
              <h3 class="text-xl font-bold mt-5">Parques</h3>
              <p class="font-light text-sm text-primary mt-3">
                Descubre nuestros parques y áreas libres en el condominio de playa, perfectos para relajarte, hacer ejercicio y disfrutar en familia.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                class="w-16 fill-zinc-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 470 470"
                xml:space="preserve"
                ><path
                  d="M463.404 78.948 391.047 6.591C386.797 2.341 381.145 0 375.134 0s-11.661 2.341-15.911 6.591-6.59 9.9-6.59 15.911c0 3.412.779 6.697 2.208 9.687l-17.476 17.475c-30.96-17.127-65.949-26.244-102.371-26.244-56.602 0-109.758 21.984-149.677 61.902C17.174 153.468 5.304 256.894 49.69 337.34l-17.506 17.506a22.39 22.39 0 0 0-9.687-2.208c-6.01 0-11.661 2.34-15.912 6.59-8.772 8.773-8.772 23.049 0 31.823l72.358 72.357c4.25 4.25 9.9 6.591 15.911 6.591s11.661-2.34 15.912-6.591c6.912-6.912 8.354-17.23 4.375-25.591l17.484-17.484c30.96 17.127 65.949 26.244 102.371 26.244 56.602 0 109.757-21.984 149.675-61.902 68.144-68.144 80.015-171.571 35.629-252.018l17.505-17.505a22.39 22.39 0 0 0 9.687 2.208 22.35 22.35 0 0 0 15.91-6.59 22.353 22.353 0 0 0 6.592-15.912 22.35 22.35 0 0 0-6.59-15.91zM100.16 452.802C98.742 454.22 96.858 455 94.854 455s-3.887-.78-5.304-2.197l-72.358-72.357c-2.925-2.925-2.925-7.685-.001-10.609 1.418-1.417 3.302-2.197 5.306-2.197s3.888.78 5.305 2.197l72.357 72.358c2.926 2.923 2.926 7.682.001 10.607zm5.302-26.519-61.75-61.75 13.942-13.942a211.683 211.683 0 0 0 27.665 34.084 212.938 212.938 0 0 0 34.068 27.684l-13.925 13.924zm268.602-52.213c-37.084 37.084-86.473 57.508-139.067 57.508-35.53 0-69.589-9.333-99.388-26.813a7.477 7.477 0 0 0-.892-.52c-13.977-8.299-27.006-18.393-38.79-30.177-76.684-76.683-76.684-201.455-.002-278.138 37.085-37.085 86.474-57.509 139.069-57.509 35.523 0 69.576 9.329 99.371 26.802.298.205.608.384.927.541 13.969 8.297 26.993 18.387 38.771 30.166 76.685 76.684 76.685 201.457.001 278.14zm10.608-288.747a212.985 212.985 0 0 0-34.067-27.684l13.923-13.923 61.75 61.75-13.941 13.941a211.77 211.77 0 0 0-27.665-34.084zm68.125 14.842c-1.416 1.417-3.3 2.197-5.304 2.197s-3.889-.78-5.305-2.197l-72.357-72.358c-1.417-1.417-2.197-3.301-2.197-5.305s.78-3.888 2.197-5.305c1.416-1.417 3.3-2.197 5.304-2.197s3.888.78 5.305 2.197l72.358 72.358a7.453 7.453 0 0 1 2.197 5.305 7.457 7.457 0 0 1-2.198 5.305z"
                ></path><path
                  d="M363.456 106.539c-34.267-34.262-79.886-53.128-128.461-53.128-48.578 0-94.2 18.868-128.461 53.128-70.83 70.831-70.832 186.08-.005 256.913 34.273 34.269 79.892 53.135 128.468 53.135 48.577 0 94.198-18.868 128.459-53.127 70.831-70.831 70.832-186.081 0-256.921zm37.659 115.944L317.1 306.498l-30.445-30.445L389.698 173.01a166.985 166.985 0 0 1 11.417 49.473zm-43.088 124.942-30.32-30.32 73.664-73.663c-1.885 37.491-16.335 74.458-43.344 103.983zm-56.836-14.41a7.5 7.5 0 0 0-10.607 0l-68.114 68.114c-17.18-1.263-33.829-5.131-49.499-11.392l87.167-87.168a7.5 7.5 0 0 0-10.607-10.606l-91.118 91.119a166.197 166.197 0 0 1-35.845-25.047l112.427-112.427 76.801 76.801 35.627 35.627c-28.676 26.25-65.09 41.426-103.99 43.345l57.758-57.758a7.502 7.502 0 0 0 0-10.608zm-214.249-21.46 107.001-107.001L224.388 235 111.964 347.424a165.747 165.747 0 0 1-25.022-35.869zm-18.067-64.038 84.016-84.016 30.445 30.445L80.293 296.99a167.018 167.018 0 0 1-11.418-49.473zm43.088-124.943 30.321 30.321-73.664 73.664c1.884-37.492 16.334-74.46 43.343-103.985zM297.02 80.263l-87.168 87.168a7.5 7.5 0 0 0 5.304 12.803 7.478 7.478 0 0 0 5.304-2.197l91.119-91.119a166.12 166.12 0 0 1 35.844 25.047L234.995 224.392l-35.747-35.747-35.75-35.751 84.024-84.024c17.179 1.264 33.829 5.132 49.498 11.393zm-144.129 62.025-30.323-30.323c28.676-26.249 65.089-41.426 103.99-43.344l-73.667 73.667zm123.157 123.158L245.602 235l112.425-112.425a165.768 165.768 0 0 1 25.023 35.87L276.048 265.446z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">
                Zona de fogatas y parrillas
              </h3>
              <p class="font-light text-sm text-primary mt-3">
                Disfruta la experiencia culinaria con amigos y familiares
                deliciosas comidas al aire libre.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                class="w-16 fill-zinc-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 268.396 268.396"
                ><path
                  d="M262.396 209.848h-1.612v-157.3a6 6 0 0 0-6-6H13.612a6 6 0 0 0-6 6v157.3H6a6 6 0 0 0 0 12h15.223a6 6 0 0 0 0-12h-1.611V75.574h41.191v97.607h-1.201a6 6 0 0 0 0 12h50.325a6 6 0 0 0 0-12h-1.201V75.574h50.942v97.607h-1.201a6 6 0 0 0 0 12h50.325a6 6 0 0 0 0-12h-1.201V75.574h41.191v134.273h-1.611a6 6 0 0 0 0 12h15.223c3.313 0 6-2.687 6-6s-2.685-5.999-5.998-5.999zM96.727 173.181H72.803V75.574h23.924v97.607zm98.866 0h-23.924V75.574h23.924v97.607zM19.612 63.574v-5.026h229.172v5.026H19.612z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Juegos para niños</h3>
              <p class="font-light text-sm text-primary mt-3">
                Zona divertida y exclusivamente para los más pequeños dejando
                que su imaginación florezca con coloridos juegos.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                class="w-16 fill-zinc-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 228.804 228.804"
                xml:space="preserve"
                ><path
                  d="M184.475 161.189c-2.368-3.731-19.724-30.767-34.558-45.068-12.376-11.883-30.9-12.227-33-12.227a7.718 7.718 0 0 0-.571.023h-4.491c-1.984 0-19.761.338-32.763 12.042C63.05 130.416 45.3 159.575 44.058 161.63c-9.403 14.867-15.166 24.536-15.166 35.286 0 19.371 14.193 31.888 36.158 31.888h98.711c21.959 0 36.148-12.529 36.148-31.92 0-10.845-5.777-20.5-15.205-35.353a8.142 8.142 0 0 0-.229-.342zm-20.714 52.615H65.05c-7.902 0-21.158-2.194-21.158-16.888 0-6.279 4.126-13.489 12.885-27.334l.087-.14c.175-.29 17.631-29.146 32.267-42.336 8.925-8.034 22.597-8.187 22.73-8.188h5.08c.143 0 .284-.004.426-.012 2.441.092 14.739.907 22.152 8.024 14.283 13.772 32.324 42.347 32.505 42.634.081.129.165.254.253.376 9.316 14.698 12.633 21.018 12.633 26.942-.001 13.986-11.502 16.922-21.149 16.922zM78.198 85.731c16.929 0 30.189-18.831 30.189-42.87C108.388 18.827 95.127 0 78.198 0 61.271 0 48.011 18.827 48.011 42.861c0 24.04 13.26 42.87 30.187 42.87zm0-70.731c7.184 0 15.189 11.442 15.189 27.861 0 16.424-8.006 27.87-15.189 27.87S63.01 59.285 63.01 42.861C63.011 26.442 71.015 15 78.198 15zM38.664 137.296c2.951 0 5.77-.607 8.413-1.82 13.162-6.12 16.827-25.327 8.34-43.731-6.585-14.252-18.767-23.827-30.316-23.827-2.954 0-5.777.609-8.401 1.817-13.18 6.099-16.857 25.31-8.368 43.746 6.585 14.244 18.774 23.814 30.33 23.815h.002zm-16.712-30.099c-5.076-11.024-3.635-21.683 1.033-23.842.639-.294 1.33-.437 2.115-.437 4.71 0 12.162 5.298 16.697 15.113 5.076 11.008 3.635 21.668-1.011 23.828-.642.294-1.336.438-2.123.438-4.716-.001-12.177-5.297-16.711-15.1zM150.591 85.731c16.923 0 30.18-18.831 30.18-42.87C180.771 18.827 167.514 0 150.591 0c-16.939 0-30.207 18.827-30.207 42.861 0 24.04 13.268 42.87 30.207 42.87zm0-70.731c7.18 0 15.18 11.442 15.18 27.861 0 16.424-8 27.87-15.18 27.87-7.192 0-15.207-11.446-15.207-27.87 0-16.419 8.015-27.861 15.207-27.861zM212.104 69.737c-2.617-1.212-5.447-1.827-8.411-1.827-11.532 0-23.71 9.578-30.299 23.827-8.525 18.396-4.863 37.61 8.368 43.756 2.609 1.197 5.429 1.804 8.38 1.804 11.559 0 23.745-9.572 30.324-23.822 8.496-18.423 4.821-37.636-8.362-43.738zm-5.258 37.453c-4.53 9.812-11.987 15.106-16.704 15.106-.788 0-1.482-.143-2.093-.423-4.696-2.181-6.141-12.835-1.043-23.835 4.544-9.827 11.988-15.129 16.687-15.129.781 0 1.47.143 2.107.438 4.684 2.17 6.126 12.828 1.046 23.843z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Zona de mascotas</h3>
              <p class="font-light text-sm text-primary mt-3">
                Un entorno donde tus mascotas pueden correr, jugar y disfrutar
                también de la playa.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                version="1.1"
                class="w-16 fill-zinc-500"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                x="0"
                y="0"
                viewBox="0 0 724.32 737.69"
                style="enable-background:new 0 0 724.32 737.69"
                xml:space="preserve"
                ><path
                  class="st0"
                  d="M364.93 168.83c-95.34 0-173.22 77.89-173.22 173.22 0 49.85 21.81 97.83 58.57 130.23 27.42 27.42 24.92 85.99 24.3 86.61 0 3.12.62 5.61 3.12 8.1 1.87 1.87 4.98 3.12 7.48 3.12h158.89c3.12 0 5.61-1.25 7.48-3.12s3.12-4.98 3.12-8.1c0-.62-3.12-59.2 24.3-86.61l1.87-1.87c36.14-33.02 57.33-79.76 57.33-128.36-.02-95.34-77.91-173.22-173.24-173.22zm99.7 287.25c-.62.62-1.87 1.87-1.87 2.49-24.3 26.17-28.66 69.17-29.29 89.73H295.76c-.62-20.56-4.98-65.43-31.16-92.22-33.02-28.66-52.34-70.41-52.34-114.65 0-84.12 67.92-152.04 152.04-152.04s152.04 67.92 152.04 152.04c0 44.24-18.69 85.99-51.71 114.65z"
                ></path><path
                  class="st0"
                  d="M364.3 213.07c-5.61 0-10.59 4.98-10.59 10.59 0 5.61 4.98 10.59 10.59 10.59 62.93 0 113.41 51.1 113.41 113.41 0 5.61 4.98 10.59 10.59 10.59 5.61 0 10.59-4.98 10.59-10.59.63-74.15-59.81-134.59-134.59-134.59zM433.47 581.95H295.14c-14.33 0-26.17 11.84-26.17 26.17s11.84 26.17 26.17 26.17h137.71c14.95-.62 26.79-11.84 26.79-26.17s-11.84-26.17-26.17-26.17zm0 30.53H295.14c-2.49 0-4.98-1.87-4.98-4.98s1.87-4.98 4.98-4.98h137.71c2.49 0 4.98 1.87 4.98 4.98s-1.87 4.98-4.36 4.98zM412.91 644.88H315.7c-14.33 0-26.17 11.84-26.17 26.17 0 14.33 11.84 26.17 26.17 26.17h97.21c14.33 0 26.17-11.84 26.17-26.17 0-14.95-11.84-26.17-26.17-26.17zm0 30.53H315.7c-2.49 0-4.98-1.87-4.98-4.98 0-3.12 1.87-4.98 4.98-4.98h97.21c2.49 0 4.98 1.87 4.98 4.98 0 3.12-2.49 4.98-4.98 4.98zM364.3 117.11c6.23 0 10.59-4.98 10.59-10.59V34.23c0-5.61-4.98-10.59-10.59-10.59s-10.59 4.98-10.59 10.59v72.28c0 5.61 4.99 10.6 10.59 10.6zM540.64 77.23c-4.98-3.74-11.22-1.87-14.33 2.49l-39.88 59.82c-3.74 4.98-2.49 11.84 2.49 14.95 1.87 1.25 3.74 1.87 5.61 1.87 3.74 0 6.85-1.87 8.72-4.98l39.88-59.82c3.75-4.36 2.5-11.22-2.49-14.33zM237.81 153.87c1.87 0 3.74-.62 5.61-1.87 4.98-3.12 6.23-9.97 3.12-14.95L207.9 76.61c-3.12-4.98-9.97-6.23-14.95-3.12-4.98 3.12-6.23 9.97-3.12 14.95l38.63 60.44c2.5 3.74 5.61 4.99 9.35 4.99zM162.42 219.92l-62.93-34.27c-4.98-2.49-11.84-.62-14.33 4.36-3.12 4.98-1.25 11.84 4.36 14.33l62.93 34.27c1.87.62 3.12 1.25 4.98 1.25 3.74 0 7.48-1.87 9.35-5.61 2.49-4.98.62-11.84-4.36-14.33zM644.08 190.01c-2.49-4.98-9.35-6.85-14.33-4.36l-63.56 34.27c-4.98 2.49-6.85 9.35-4.36 14.33 1.87 3.74 5.61 5.61 9.35 5.61 1.87 0 3.74-.62 4.98-1.25l63.56-34.27c4.98-2.49 6.85-9.34 4.36-14.33z"
                ></path></svg
              >
              <h3 class="text-xl font-bold mt-5">Servicio de agua y luz</h3>
              <p class="font-light text-sm text-primary mt-3">
                Disfruta de servicio de agua y luz sin interrupciones en nuestro
                condominio de playa. Comodidad y tranquilidad todo el año.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                version="1.1"
                class="w-16 fill-zinc-500"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                x="0"
                y="0"
                viewBox="0 0 724.32 737.69"
                style="enable-background:new 0 0 724.32 737.69"
                xml:space="preserve"
                ><g
                  ><g transform="translate(143.774 207.903)"
                    ><path
                      class="st0"
                      d="M21.13 301.06c-31.85 0-57.76-25.91-57.76-57.76s25.91-57.76 57.76-57.76c31.85 0 57.76 25.91 57.76 57.76s-25.91 57.76-57.76 57.76zm0-97.31c-21.81 0-39.55 17.74-39.55 39.55s17.74 39.55 39.55 39.55 39.55-17.74 39.55-39.55-17.74-39.55-39.55-39.55z"
                    ></path></g
                  ><g transform="translate(143.774 191.871)"
                    ><path
                      class="st0"
                      d="M351.99 287.9H69.79c-5.03 0-9.1-4.08-9.1-9.1s4.08-9.1 9.1-9.1h282.2c5.03 0 9.1 4.08 9.1 9.1s-4.07 9.1-9.1 9.1z"
                    ></path></g
                  ><g transform="translate(109.362 213.571)"
                    ><path
                      class="st0"
                      d="M48.66 253.62c-2.33 0-4.66-.89-6.44-2.67a9.102 9.102 0 0 1 0-12.88l13.76-13.76a9.12 9.12 0 0 1 12.88 0 9.102 9.102 0 0 1 0 12.88L55.1 250.95a9.079 9.079 0 0 1-6.44 2.67z"
                    ></path></g
                  ><g transform="translate(456.403 207.903)"
                    ><path
                      class="st0"
                      d="M88.01 301.06c-31.85 0-57.76-25.91-57.76-57.76s25.91-57.76 57.76-57.76 57.76 25.91 57.76 57.76-25.91 57.76-57.76 57.76zm0-97.31c-21.81 0-39.55 17.74-39.55 39.55s17.74 39.55 39.55 39.55 39.55-17.74 39.55-39.55c.01-21.81-17.74-39.55-39.55-39.55z"
                    ></path></g
                  ><g transform="translate(410.654 213.571)"
                    ><path
                      class="st0"
                      d="M140.64 253.62c-2.33 0-4.66-.89-6.44-2.67l-13.76-13.76a9.102 9.102 0 0 1 0-12.88 9.12 9.12 0 0 1 12.88 0l13.76 13.76a9.102 9.102 0 0 1 0 12.88 9.079 9.079 0 0 1-6.44 2.67z"
                    ></path></g
                  ><g transform="translate(63.613 199.887)"
                    ><path
                      class="st0"
                      d="M568.39 279.88c-5.03 0-9.1-4.08-9.1-9.1s4.08-9.1 9.1-9.1c6.39 0 10.36-5.6 10.36-14.62v-32.31c0-11.59-6.64-22.15-16.92-26.93-52.53-24.4-138.55-24.71-139.41-24.71-1.73 0-3.43-.49-4.89-1.42l-75.96-48.34A117.203 117.203 0 0 0 278.54 95h-86.7c-19.63 0-39.29 4.64-56.85 13.42L88.8 131.5a154.49 154.49 0 0 1-50.12 15.17l-35.99 4.5c-5.17.65-9.07 5.06-9.07 10.28v58.11c0 8.92 5.99 16.86 14.57 19.32l46.94 13.41c4.84 1.38 7.63 6.42 6.25 11.26a9.094 9.094 0 0 1-11.26 6.25L3.19 256.39c-16.35-4.67-27.78-19.82-27.78-36.82v-58.11c0-14.38 10.76-26.56 25.02-28.35l35.99-4.5a136.63 136.63 0 0 0 44.23-13.39l46.18-23.09c20.08-10.04 42.55-15.34 65-15.34h86.7c25.83 0 51.01 7.33 72.81 21.2l73.76 46.94c15.62.22 92.97 2.5 144.39 26.38 16.68 7.75 27.46 24.8 27.46 43.44v32.31c0 21.55-14.37 32.82-28.56 32.82z"
                    ></path></g
                  ><g transform="translate(159.806 288.065)"
                    ><path
                      class="st0"
                      d="M73.22 74.93H54.45c-15.43 0-29.93-6.01-40.84-16.92L-1.34 43.07c-3.56-3.56-3.56-9.32 0-12.88s9.32-3.56 12.88 0l14.94 14.94c7.47 7.47 17.4 11.59 27.97 11.59h18.77c5.03 0 9.11 4.08 9.11 9.1s-4.09 9.11-9.11 9.11z"
                    ></path></g
                  ><g transform="translate(368.226 288.065)"
                    ><path
                      class="st0"
                      d="M117.81 74.93H-96.28c-5.03 0-9.1-4.08-9.1-9.1s4.08-9.1 9.1-9.1H117.8c5.03 0 9.1 4.08 9.1 9.1s-4.07 9.1-9.09 9.1z"
                    ></path></g
                  ><g transform="translate(175.839 223.935)"
                    ><path
                      class="st0"
                      d="M281 216.91H76.65c-5.03 0-9.1-4.08-9.1-9.1s4.08-9.1 9.1-9.1H281c5.03 0 9.1 4.08 9.1 9.1s-4.07 9.1-9.1 9.1z"
                    ></path></g
                  ><g transform="translate(7.5 264.016)"
                    ><path
                      class="st0"
                      d="M60.09 128.17H40.63c-5.03 0-9.1-4.08-9.1-9.1 0-5.03 4.08-9.1 9.1-9.1h19.46c5.03 0 9.1 4.08 9.1 9.1.01 5.03-4.07 9.1-9.1 9.1z"
                    ></path></g
                  ><g transform="translate(480.452 247.984)"
                    ><path
                      class="st0"
                      d="M165.33 163.67h-23.52c-5.03 0-9.1-4.08-9.1-9.1 0-5.03 4.08-9.1 9.1-9.1h23.52c5.03 0 9.1 4.08 9.1 9.1.01 5.02-4.07 9.1-9.1 9.1z"
                    ></path></g
                  ><g transform="translate(223.935 288.065)"
                    ><path
                      class="st0"
                      d="M86.94 74.93c-5.03 0-9.1-4.08-9.1-9.1V-2.29c0-5.03 4.08-9.1 9.1-9.1 5.03 0 9.1 4.08 9.1 9.1v68.12c0 5.03-4.08 9.1-9.1 9.1z"
                    ></path></g
                  ><g transform="translate(131.75 291.321)"
                    ><path
                      class="st0"
                      d="M67.22 67.72c-.67 0-1.34-.07-2.02-.23-4.9-1.11-7.98-5.99-6.87-10.89L71 .65c1.11-4.9 5.99-7.98 10.89-6.87 4.9 1.11 7.98 5.99 6.87 10.89L76.09 60.63c-.95 4.23-4.71 7.09-8.87 7.09z"
                    ></path></g
                  ></g
                ></svg
              >
              <h3 class="text-xl font-bold mt-5">Zona de estacionamiento</h3>
              <p class="font-light text-sm text-primary mt-3">
                Aprovecha nuestra amplia y segura zona de estacionamiento en el
                condominio de playa. Comodidad y acceso directo a tu hogar.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                version="1.1"
                class="w-16 fill-zinc-500"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                x="0"
                y="0"
                viewBox="0 0 724.32 737.69"
                style="enable-background:new 0 0 724.32 737.69"
                xml:space="preserve"
                ><g
                  ><g transform="translate(98.04 313.99)"
                    ><path
                      class="st0"
                      d="M67.59 351.97H15.34c-6.8 0-12.3-5.51-12.3-12.3V12.19c0-4.49 2.45-8.62 6.38-10.79l52.25-28.68c3.81-2.09 8.44-2.02 12.19.2 3.74 2.21 6.04 6.24 6.04 10.59v356.15c0 6.8-5.51 12.31-12.31 12.31zm-39.94-24.61H55.3V4.3L27.65 19.47v307.89z"
                    ></path></g
                  ><g transform="translate(456.43 290.679)"
                    ><path
                      class="st0"
                      d="M150.15 375.28H97.9c-6.8 0-12.3-5.51-12.3-12.3V6.82c0-4.35 2.3-8.37 6.04-10.59 3.74-2.22 8.38-2.29 12.19-.2l52.25 28.68a12.3 12.3 0 0 1 6.38 10.79v327.47c0 6.8-5.51 12.31-12.31 12.31zm-39.95-24.61h27.65V42.78L110.2 27.61v323.06z"
                    ></path></g
                  ><g transform="translate(210.856 484.451)"
                    ><path
                      class="st0"
                      d="M345.29-201.58c-2.59 0-5.16-.82-7.3-2.4-11.73-8.64-25.61-16.84-41.25-24.37-93.78-45.13-201.35-45.13-295.12 0-15.84 7.62-29.75 15.82-41.35 24.37a12.305 12.305 0 0 1-19.13-6.52l-33.58-117.22c-1.42-4.97.41-10.29 4.59-13.34.45-.33 11.34-8.21 30.79-18.88 46.38-25.42 96.51-41.89 149.01-48.94 6.74-.9 12.93 3.82 13.83 10.56.9 6.73-3.82 12.93-10.56 13.83-49.49 6.65-96.74 22.17-140.45 46.13-9.17 5.03-16.3 9.39-21.09 12.47l26.43 92.28c9.37-5.89 19.68-11.55 30.83-16.92 48.99-23.57 103.7-36.04 158.23-36.04 54.53 0 109.24 12.46 158.23 36.04 11.05 5.32 21.34 10.98 30.75 16.91l26.51-92.28c-4.79-3.07-11.91-7.44-21.08-12.47-44.68-24.49-92.99-40.16-143.59-46.55-6.74-.85-11.52-7.01-10.66-13.75.85-6.74 7.01-11.51 13.75-10.66 53.68 6.78 104.94 23.4 152.34 49.39 19.46 10.67 30.34 18.55 30.79 18.88a12.29 12.29 0 0 1 4.58 13.34L357.11-210.5a12.31 12.31 0 0 1-7.86 8.25c-1.29.46-2.63.67-3.96.67z"
                    ></path></g
                  ><g transform="translate(34.79 279.269)"
                    ><path
                      class="st0"
                      d="M53.03 73.25c-2.67 0-5.33-.87-7.53-2.57-3.87-3-5.6-8.01-4.4-12.75L56.2-1.69 16.72-22.8a12.31 12.31 0 0 1 .05-21.73l86.27-45.66a12.32 12.32 0 0 1 10.57-.45 12.31 12.31 0 0 1 7.01 7.93l15.61 54.51a12.28 12.28 0 0 1 8.87-.04c3.65 1.39 6.42 4.44 7.47 8.2l7.12 25.64a12.31 12.31 0 0 1-5.93 14.08L58.94 71.73a12.24 12.24 0 0 1-5.91 1.52zM48.72-33.6 76.3-18.85c4.99 2.67 7.51 8.39 6.12 13.87L71.9 36.55 133.39 2.8a12.304 12.304 0 0 1-16.19-8.12l-16.05-56.03L48.72-33.6z"
                    ></path></g
                  ><g transform="translate(463.01 335.309)"
                    ><path
                      class="st0"
                      d="M169.14 17.21c-2.03 0-4.07-.5-5.92-1.52L68.4-36.35a12.284 12.284 0 0 1-5.93-14.08l7.14-25.64a12.28 12.28 0 0 1 7.49-8.2c2.88-1.09 6.03-1.06 8.84.04l15.66-54.49c1.02-3.56 3.6-6.47 7.01-7.92 3.41-1.45 7.29-1.29 10.57.45l86.22 45.63a12.31 12.31 0 0 1 .05 21.73l-39.48 21.11L181.08 1.9c1.2 4.75-.52 9.76-4.4 12.75a12.416 12.416 0 0 1-7.54 2.56zM88.79-53.23l61.48 33.74-10.52-41.53a12.31 12.31 0 0 1 6.12-13.87l27.58-14.75-52.39-27.73-16.1 56.02a12.31 12.31 0 0 1-7.86 8.25c-2.74.94-5.67.87-8.31-.13z"
                    ></path></g
                  ><g transform="translate(381.086 406.231)"
                    ><path
                      class="st0"
                      d="M132.79-209.92c-2.08 0-4.19-.53-6.13-1.64-.62-.35-62.55-35.32-149.12-35.32-85.09 0-148.61 35.03-149.24 35.39-5.92 3.32-13.42 1.22-16.75-4.7s-1.23-13.41 4.68-16.74c2.79-1.57 69.48-38.55 161.31-38.55 93.48 0 158.69 37.04 161.42 38.61 5.88 3.4 7.9 10.92 4.5 16.81a12.321 12.321 0 0 1-10.67 6.14z"
                    ></path></g
                  ><g transform="translate(10 24.52)"
                    ><path
                      class="st0"
                      d="M652.65 641.43H47.31c-6.8 0-12.3-5.51-12.3-12.3 0-6.79 5.51-12.3 12.3-12.3h605.34c6.79 0 12.3 5.51 12.3 12.3 0 6.79-5.5 12.3-12.3 12.3z"
                    ></path></g
                  ><g transform="translate(254.893 487.481)"
                    ><path
                      class="st0"
                      d="M103.73-391.14c-.41 0-.81-.02-1.21-.06-.41-.05-.8-.1-1.2-.18-.78-.16-1.56-.4-2.3-.7-.75-.3-1.46-.68-2.12-1.13-.34-.22-.66-.46-.98-.71-.3-.26-.61-.54-.89-.81-.29-.29-.55-.59-.81-.9-.26-.3-.5-.64-.72-.97-.44-.66-.82-1.38-1.13-2.12-.31-.75-.54-1.52-.7-2.31a9.49 9.49 0 0 1-.18-1.19c-.04-.4-.06-.81-.06-1.21 0-.41.03-.81.06-1.21s.1-.8.18-1.2c.16-.78.39-1.56.7-2.3.3-.75.68-1.46 1.13-2.12.22-.34.46-.66.72-.98.25-.3.53-.61.81-.9.29-.29.58-.55.89-.81.31-.26.64-.5.98-.72.66-.44 1.38-.82 2.12-1.13a12.22 12.22 0 0 1 3.5-.88c.8-.08 1.61-.08 2.42 0 .4.05.8.1 1.19.18.78.16 1.56.39 2.31.7.74.3 1.46.68 2.12 1.13.33.22.66.46.97.72.31.26.62.53.9.81.28.29.55.59.81.9.25.31.49.64.71.98.44.66.83 1.37 1.14 2.12.3.74.54 1.51.7 2.3.08.4.14.8.18 1.2.04.4.05.8.05 1.21 0 .4-.02.81-.05 1.21-.05.4-.1.8-.18 1.19-.16.78-.4 1.56-.7 2.31-.3.74-.69 1.46-1.14 2.12-.22.33-.46.66-.71.97-.26.31-.54.62-.81.9-.29.28-.59.55-.9.81-.3.25-.64.49-.97.71-.66.45-1.38.83-2.12 1.13-.75.3-1.52.54-2.31.7a11.77 11.77 0 0 1-2.4.24z"
                    ></path></g
                  ></g
                ></svg
              >
              <h3 class="text-xl font-bold mt-5">Pórtico de ingreso</h3>
              <p class="font-light text-sm text-primary mt-3">
                El pórtico de ingreso en Manarola ofrece seguridad, elegancia y
                un cálido recibimiento para todos.
              </p>
            </div>
          </li>
          <li class="splide__slide">
            <div class="p-10 border-r border-primary/30 w-full">
              <svg
                version="1.1"
                class="w-16 fill-zinc-500"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                x="0"
                y="0"
                viewBox="0 0 724.32 737.69"
                style="enable-background:new 0 0 724.32 737.69"
                xml:space="preserve"
                ><g
                  ><g
                    transform="translate(449.446 364.087)"
                    ><path
                      class="st0"
                      d="M156.13-99.15c0 5.09-4.13 9.21-9.21 9.21-5.09 0-9.21-4.13-9.21-9.21 0-5.09 4.12-9.22 9.21-9.22 5.08 0 9.21 4.13 9.21 9.22"
                    ></path></g
                  ><g
                    transform="translate(449.446 256)"
                    ><path
                      class="st0"
                      d="M156.13 140.39c0 5.09-4.13 9.21-9.21 9.21-5.09 0-9.21-4.12-9.21-9.21 0-5.09 4.12-9.21 9.21-9.21 5.08 0 9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(449.446 147.913)"
                    ><path
                      class="st0"
                      d="M156.13 379.94c0 5.09-4.13 9.22-9.21 9.22-5.09 0-9.21-4.13-9.21-9.22 0-5.09 4.12-9.21 9.21-9.21 5.08 0 9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(356.51 364.087)"
                    ><path
                      class="st0"
                      d="M136.03-99.15c0 5.09-4.13 9.21-9.21 9.21s-9.21-4.13-9.21-9.21c0-5.09 4.13-9.22 9.21-9.22s9.21 4.13 9.21 9.22"
                    ></path></g
                  ><g
                    transform="translate(356.51 256)"
                    ><path
                      class="st0"
                      d="M136.03 140.39c0 5.09-4.13 9.21-9.21 9.21s-9.21-4.12-9.21-9.21c0-5.09 4.13-9.21 9.21-9.21s9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(356.51 147.913)"
                    ><path
                      class="st0"
                      d="M136.03 379.94c0 5.09-4.13 9.22-9.21 9.22s-9.21-4.13-9.21-9.22c0-5.09 4.13-9.21 9.21-9.21s9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(263.576 364.087)"
                    ><path
                      class="st0"
                      d="M115.93-99.15c0 5.09-4.13 9.21-9.21 9.21s-9.21-4.13-9.21-9.21c0-5.09 4.13-9.22 9.21-9.22s9.21 4.13 9.21 9.22"
                    ></path></g
                  ><g
                    transform="translate(263.576 256)"
                    ><path
                      class="st0"
                      d="M115.93 140.39c0 5.09-4.13 9.21-9.21 9.21s-9.21-4.12-9.21-9.21c0-5.09 4.13-9.21 9.21-9.21s9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(263.576 147.913)"
                    ><path
                      class="st0"
                      d="M115.93 379.94c0 5.09-4.13 9.22-9.21 9.22s-9.21-4.13-9.21-9.22c0-5.09 4.13-9.21 9.21-9.21s9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(170.641 364.087)"
                    ><path
                      class="st0"
                      d="M95.84-99.15c0 5.09-4.13 9.21-9.21 9.21-5.09 0-9.21-4.13-9.21-9.21 0-5.09 4.13-9.22 9.21-9.22 5.08 0 9.21 4.13 9.21 9.22"
                    ></path></g
                  ><g
                    transform="translate(170.641 256)"
                    ><path
                      class="st0"
                      d="M95.84 140.39c0 5.09-4.13 9.21-9.21 9.21-5.09 0-9.21-4.12-9.21-9.21 0-5.09 4.13-9.21 9.21-9.21 5.08 0 9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(170.641 147.913)"
                    ><path
                      class="st0"
                      d="M95.84 379.94c0 5.09-4.13 9.22-9.21 9.22-5.09 0-9.21-4.13-9.21-9.22 0-5.09 4.13-9.21 9.21-9.21 5.08 0 9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(77.706 364.087)"
                    ><path
                      class="st0"
                      d="M75.74-99.15c0 5.09-4.13 9.21-9.21 9.21s-9.21-4.13-9.21-9.21c0-5.09 4.13-9.22 9.21-9.22s9.21 4.13 9.21 9.22"
                    ></path></g
                  ><g
                    transform="translate(77.706 256)"
                    ><path
                      class="st0"
                      d="M75.74 140.39c0 5.09-4.13 9.21-9.21 9.21s-9.21-4.12-9.21-9.21c0-5.09 4.13-9.21 9.21-9.21s9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(77.706 147.913)"
                    ><path
                      class="st0"
                      d="M75.74 379.94c0 5.09-4.13 9.22-9.21 9.22s-9.21-4.13-9.21-9.22c0-5.09 4.13-9.21 9.21-9.21s9.21 4.12 9.21 9.21"
                    ></path></g
                  ><g
                    transform="translate(286.305 70.13)"
                    ><path
                      class="st0"
                      d="M120.85 561.45H47.13c-5.04 0-9.12-4.08-9.12-9.12V137.06c0-25.35 20.63-45.98 45.98-45.98s45.98 20.63 45.98 45.98v415.27c0 5.03-4.08 9.12-9.12 9.12zm-64.59-18.24h55.47V137.06c0-15.29-12.44-27.74-27.74-27.74s-27.74 12.44-27.74 27.74v406.15z"
                    ></path></g
                  ><g
                    transform="translate(379.24 70.13)"
                    ><path
                      class="st0"
                      d="M140.95 561.45H67.23c-5.04 0-9.12-4.08-9.12-9.12V137.06c0-25.35 20.63-45.98 45.98-45.98 25.35 0 45.98 20.63 45.98 45.98v415.27c0 5.03-4.09 9.12-9.12 9.12zm-64.6-18.24h55.47V137.06c0-15.29-12.44-27.74-27.74-27.74-15.29 0-27.74 12.44-27.74 27.74v406.15z"
                    ></path></g
                  ><path
                    class="st0"
                    d="M446.47 294.94h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.03-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M446.47 426.4h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M446.47 557.86h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><g
                    transform="translate(472.17 292.07)"
                    ><path
                      class="st0"
                      d="M161.04 339.51h-73.7c-5.04 0-9.12-4.08-9.12-9.12V-84.89c0-25.35 20.62-45.97 45.97-45.97 12.29 0 23.84 4.79 32.52 13.48 8.67 8.67 13.45 20.22 13.45 32.5V17.88c0 5.04-4.08 9.12-9.12 9.12-5.04 0-9.12-4.08-9.12-9.12V-84.89c0-7.41-2.88-14.37-8.12-19.6-5.23-5.24-12.2-8.13-19.61-8.13-15.29 0-27.73 12.44-27.73 27.73v406.15h55.46V60.45c0-5.04 4.08-9.12 9.12-9.12 5.04 0 9.12 4.08 9.12 9.12v269.93c0 5.04-4.08 9.13-9.12 9.13z"
                    ></path></g
                  ><path
                    class="st0"
                    d="M559.5 294.94h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.03-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M559.5 426.4h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M559.5 557.86h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M672.53 294.94h-39.32c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c.01 5.03-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M672.53 426.4h-39.32c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c.01 5.04-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M672.53 557.86h-39.32c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c.01 5.04-4.08 9.12-9.12 9.12zm-30.19-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><g
                    transform="translate(39.83 291.36)"
                    ><path
                      class="st0"
                      d="M141.25 340.22h-73.7c-5.04 0-9.12-4.08-9.12-9.12V62.03c0-5.04 4.08-9.12 9.12-9.12s9.12 4.08 9.12 9.12v259.95h55.46V-84.18c0-7.41-2.88-14.37-8.12-19.6-5.23-5.24-12.2-8.13-19.61-8.13-15.29 0-27.73 12.44-27.73 27.73V19.46c0 5.04-4.08 9.12-9.12 9.12s-9.12-4.08-9.12-9.12V-84.18c0-25.35 20.62-45.97 45.97-45.97 12.29 0 23.84 4.79 32.52 13.48 8.67 8.68 13.45 20.22 13.45 32.5V331.1c.01 5.03-4.08 9.12-9.12 9.12z"
                    ></path></g
                  ><path
                    class="st0"
                    d="M107.37 294.94H68.06c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.03-4.09 9.12-9.13 9.12zM77.18 276.7h21.07v-23.53H77.18v23.53z"
                  ></path><path
                    class="st0"
                    d="M107.37 426.4H68.06c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.09 9.12-9.13 9.12zm-30.19-18.24h21.07v-23.53H77.18v23.53z"
                  ></path><path
                    class="st0"
                    d="M107.37 557.86H68.06c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.09 9.12-9.13 9.12zm-30.19-18.24h21.07v-23.53H77.18v23.53z"
                  ></path><g
                    transform="translate(193.37 183.95)"
                    ><path
                      class="st0"
                      d="M100.75 447.63H27.04c-5.04 0-9.12-4.08-9.12-9.12V23.23c0-25.35 20.62-45.97 45.97-45.97 25.36 0 45.99 20.62 45.99 45.97V257.5c0 5.04-4.08 9.12-9.12 9.12s-9.12-4.08-9.12-9.12V23.23C91.63 7.94 79.19-4.5 63.9-4.5c-15.3 0-27.74 12.44-27.74 27.73v406.15h55.47V300.07c0-5.04 4.08-9.12 9.12-9.12s9.12 4.08 9.12 9.12V438.5c0 5.04-4.08 9.13-9.12 9.13z"
                    ></path></g
                  ><path
                    class="st0"
                    d="M220.41 294.94h-39.32c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.03-4.09 9.12-9.12 9.12zm-30.2-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M220.41 426.4h-39.32c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.09 9.12-9.12 9.12zm-30.2-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M220.41 557.86h-39.32c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.32c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.09 9.12-9.12 9.12zm-30.2-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M333.44 294.94h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.03-4.08 9.12-9.12 9.12zm-30.2-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M333.44 426.4h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.08 9.12-9.12 9.12zm-30.2-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path><path
                    class="st0"
                    d="M333.44 557.86h-39.31c-5.04 0-9.12-4.08-9.12-9.12v-41.77c0-5.04 4.08-9.12 9.12-9.12h39.31c5.04 0 9.12 4.08 9.12 9.12v41.77c0 5.04-4.08 9.12-9.12 9.12zm-30.2-18.24h21.07v-23.53h-21.07v23.53z"
                  ></path></g
                ></svg
              >
              <h3 class="text-xl font-bold mt-5">Cerco perimétrico</h3>
              <p class="font-light text-sm text-primary mt-3">
                Nuestro condominio de playa cuenta con cerco perimétrico,
                garantizando seguridad y privacidad para que disfrutes de
                tranquilidad absoluta.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- </div> -->
  </div>
</section>

<style>
  .bg-reserva {
    background-image: url("/images/bg-plants.avif");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";

  var splideAmenidades = new Splide("#slide-amenidades", {
    type: "loop",
    autoplay: true,
    perPage: 4,
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
    breakpoints: {
      640: {
        perPage: 1,
      },
    },
  });

  splideAmenidades.mount();
</script>
