<section class="px-5 py-14 md:py-28 relative text-center text-white">
    <div class="bg-secondary/70 absolute top-0 left-0 w-full h-full"></div>
    <span class="relative text-base uppercase font-light tracking-widest">Obtén hasta un 30% de descuento</span>
	<h1 class="relative text-4xl md:text-6xl font-normal mt-5 md:max-w-3xl md:mx-auto">Financiamiento directo cero interes</h1>
    <p class="relative mt-5 font-light">Beneficios por pago al contado</p>
</section>

<style>
    section{
        background-image: url('https://kit.baliniz.com/malibu/wp-content/uploads/sites/60/2023/06/seasonal-feast-at-beach-resort-group-of-friends-celebrating-resting-having-fun-on-the-beach-in-e1689671838962.jpg');
        background-size: cover;
        background-position: center;
    }
</style>