---
import menu from "@/data/menu.json";
---
<footer class="bg-accent pt-20 px-7 text-white/60">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-x-20 pb-20">
    <div class="animation-bottom">
      <a href="/">
        <img
          class="w-52"
          src="/images/logo.png"
          alt="Logotipo"
        />
      </a>
      <p class="text-sm font-light mt-5">
        Vive la experiencia de un estilo de vida exclusivo con servicios de primera clase y la tranquilidad que solo el sonido del mar puede proporcionar. ¡Tu hogar de ensueño te espera!
      </p>
      <ul class="inline-flex gap-x-6 mt-10">
        <li>
          <a href="https://www.facebook.com/pluralgroupinversiones" target="_blank"
            ><svg class="w-4 fill-white" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M30.996 16.091C30.995 7.81 24.282 1.097 16 1.097S1.004 7.811 1.004 16.093c0 7.455 5.44 13.639 12.566 14.8l.086.012V20.427H9.848v-4.336h3.808v-3.302a5.293 5.293 0 0 1 5.684-5.834l-.018-.001c1.199.017 2.359.123 3.491.312l-.134-.019v3.69h-1.892a2.168 2.168 0 0 0-2.444 2.351l-.001-.009v2.812h4.159l-.665 4.336h-3.494v10.478c7.213-1.174 12.653-7.359 12.654-14.814z"
              ></path></svg
            ></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/pluralgroupsac/" target="_blank"
            ><svg class="w-4 fill-white" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M25.805 7.996v.001a1.8 1.8 0 1 1-1.799-1.799 1.8 1.8 0 0 1 1.799 1.798zM16 20.999A4.999 4.999 0 1 1 20.999 16v.001a4.997 4.997 0 0 1-4.997 4.997h-.001zM16 8.3a7.7 7.7 0 1 0 7.7 7.7v-.001a7.7 7.7 0 0 0-7.7-7.7h-.001zm0-4.596c4.003 0 4.48.02 6.061.089a8.237 8.237 0 0 1 2.84.538l-.057-.019a4.964 4.964 0 0 1 2.835 2.812l.012.034c.316.826.504 1.781.516 2.778v.005c.071 1.582.087 2.057.087 6.061s-.019 4.48-.092 6.061a8.434 8.434 0 0 1-.545 2.841l.019-.058a4.786 4.786 0 0 1-1.123 1.726l-.001.001a4.684 4.684 0 0 1-1.692 1.109l-.032.011a8.17 8.17 0 0 1-2.788.516h-.005c-1.592.071-2.061.087-6.072.087-4.013 0-4.481-.019-6.072-.092a8.503 8.503 0 0 1-2.853-.545l.059.019a4.658 4.658 0 0 1-1.722-1.122l-.001-.001a4.562 4.562 0 0 1-1.114-1.693l-.01-.031a8.349 8.349 0 0 1-.525-2.785v-.008c-.056-1.575-.076-2.061-.076-6.053 0-3.994.02-4.481.076-6.075a8.485 8.485 0 0 1 .544-2.85l-.019.059a4.466 4.466 0 0 1 1.123-1.724l.002-.002a4.446 4.446 0 0 1 1.692-1.112l.031-.01a8.131 8.131 0 0 1 2.768-.526h.007c1.593-.056 2.062-.075 6.072-.075zm0-2.7c-4.074 0-4.582.019-6.182.09a11.032 11.032 0 0 0-3.716.723l.076-.025A7.387 7.387 0 0 0 3.522 3.52l-.001.001a7.327 7.327 0 0 0-1.713 2.607l-.017.05a10.793 10.793 0 0 0-.697 3.628v.012c-.075 1.6-.09 2.108-.09 6.182s.019 4.582.09 6.182c.028 1.315.282 2.562.723 3.716l-.025-.076a7.709 7.709 0 0 0 4.334 4.368l.052.018c1.078.415 2.326.669 3.628.697h.012c1.6.075 2.108.09 6.182.09s4.582-.019 6.182-.09a11.057 11.057 0 0 0 3.716-.723l-.076.026a7.709 7.709 0 0 0 4.368-4.334l.018-.052c.416-1.078.669-2.326.697-3.628v-.012c.075-1.6.09-2.108.09-6.182s-.019-4.582-.09-6.182a11.057 11.057 0 0 0-.723-3.716l.026.076a7.39 7.39 0 0 0-1.729-2.656l-.001-.001a7.327 7.327 0 0 0-2.607-1.713l-.05-.017a10.793 10.793 0 0 0-3.628-.697h-.012c-1.6-.075-2.108-.09-6.182-.09z"
              ></path></svg
            ></a
          >
        </li>
        <li>
          <a href="" target="_blank"
            ><svg class="w-4 fill-white" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M16.656 1.029c1.637-.025 3.262-.012 4.886-.025a7.762 7.762 0 0 0 2.189 5.213l-.002-.002A8.77 8.77 0 0 0 29 8.45l.028.002v5.036a13.327 13.327 0 0 1-5.331-1.247l.082.034a15.385 15.385 0 0 1-2.077-1.196l.052.034c-.012 3.649.012 7.298-.025 10.934a9.513 9.513 0 0 1-1.707 4.954l.02-.031c-1.652 2.366-4.328 3.919-7.371 4.011h-.014a9.071 9.071 0 0 1-5.139-1.31l.04.023C5.05 28.185 3.32 25.603 3 22.6l-.004-.041a23.163 23.163 0 0 1-.012-1.862c.49-4.779 4.494-8.476 9.361-8.476.547 0 1.083.047 1.604.136l-.056-.008c.025 1.849-.05 3.699-.05 5.548a4.29 4.29 0 0 0-5.465 2.619l-.009.03c-.133.427-.21.918-.21 1.426 0 .206.013.41.037.61l-.002-.024a4.26 4.26 0 0 0 4.382 3.586h-.009a4.198 4.198 0 0 0 3.451-1.994l.01-.018c.267-.372.45-.822.511-1.311l.001-.014c.125-2.237.075-4.461.087-6.698.012-5.036-.012-10.06.025-15.083z"
              ></path></svg
            ></a
          >
        </li>
        <li>
          <a href="" target="_blank"
            ><svg class="w-4 fill-white" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M12.932 20.459v-8.917l7.839 4.459zM30.368 8.735a3.787 3.787 0 0 0-2.625-2.663l-.027-.006c-3.193-.406-6.886-.638-10.634-.638-.381 0-.761.002-1.14.007L16 5.434a90.083 90.083 0 0 0-12.152.674l.434-.044a3.785 3.785 0 0 0-2.644 2.643l-.006.026c-.4 2.109-.628 4.536-.628 7.016l.001.263v-.014l-.001.25c0 2.48.229 4.906.666 7.259l-.038-.244a3.787 3.787 0 0 0 2.625 2.663l.027.006c3.193.406 6.886.638 10.634.638.38 0 .76-.002 1.14-.007l-.058.001a90.07 90.07 0 0 0 12.152-.674l-.434.044a3.786 3.786 0 0 0 2.646-2.643l.006-.026c.399-2.109.627-4.536.627-7.015l-.001-.263V16l.001-.25c0-2.48-.229-4.906-.666-7.259l.038.244z"
              ></path></svg
            ></a
          >
        </li>
      </ul>
    </div>
    <div class="animation-bottom">
        <h4 class="text-2xl">Enlaces directos</h4>
        <ul class="text-sm font-light mt-3 space-y-2.5">
            {
                menu.map((item) => (
                    <li>
                        <a href={item.url}>{item.name}</a>
                    </li>
                ))
            }
        </ul>
    </div>
  </div>
  <div class="max-w-7xl mx-auto text-sm font-light text-center py-7 md:py-5 border-t border-gray-400">
    <p>
      © 2024 Todos los derechos reservados ® Plural Group | Desarrollado por
      <a href="https://www.sietemedios.com/" target="_blank" class="text-white font-bold">Siete Medios</a>
    </p>
  </div>
</footer>
