---
import Title from "../Title.astro";
import Plano from "../icons/Plano.astro";
---

<dialog
  id="alert-dialog-form"
  class="w-full h-screen bg-black/20 backdrop:bg-black/20 fixed inset-0 z-50"
>
  <div class="flex justify-end h-full">
    <div class="bg-white px-10 py-20 w-[90%] md:w-1/3 h-full bg-plants">
      <svg
        class="w-5 absolute top-5 right-5 z-10 cursor-pointer text-zinc-500 hover:text-zinc-400 close-form"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="m21 21-9-9m0 0L3 3m9 9 9-9m-9 9-9 9"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path></svg
      >
      <Title
        title="Reserva tu lote ahora"
        subtitle="Llena el formulario"
        align="text-left"
        size="text-3xl md:text-4xl"
      />
      <p class="font-light mt-5 text-sm md:text-[15px] text-center">
        Nos pondremos en contacto contigo para poder ayudarte a tomar la mejor
        decisión.
      </p>
      <form action="" class="mt-5">
        <input
          type="text"
          class="p-3 border border-gray-300/60 w-full text-sm md:text-base bg-transparent"
          placeholder="Nombre completo"
        />
        <input
          type="text"
          class="p-3 border border-gray-300/60 w-full text-sm md:text-base bg-transparent mt-4"
          placeholder="Teléfono"
        />
        <input
          type="email"
          class="p-3 border border-gray-300/60 w-full text-sm md:text-base bg-transparent mt-4"
          placeholder="Correo electrónico"
        />
        <input
          type="text"
          class="p-3 border border-gray-300/60 w-full text-sm md:text-base bg-transparent mt-4"
          placeholder="Lote interesado"
        />
        <span
          class="open-mapa cursor-pointer text-[15px] font-medium text-secondary hover:text-white transition-colors duration-300 mt-5 flex items-center justify-center gap-x-2 border border-secondary p-2 w-full text-center hover:bg-secondary group"
          >
          <Plano class="w-10 fill-secondary group-hover:fill-white transition-colors duration-300" />
          Ver mapa del proyecto
        </span>
        <button class="bg-accent px-6 py-4 text-white w-full mt-5 block"
          >¡Reserva ahora!</button
        >
      </form>
    </div>
  </div>
</dialog>

<dialog
  id="alert-dialog-mapa"
  class="w-full h-screen bg-black/20 backdrop:bg-black/20 backdrop: fixed inset-0 z-50 p-5"
>
  <svg
    class="w-5 absolute top-10 right-10 z-10 cursor-pointer text-zinc-500 hover:text-zinc-400 close-mapa"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="m21 21-9-9m0 0L3 3m9 9 9-9m-9 9-9 9"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path></svg
  >
  <div class="bg-white h-full">
    <img src="/images/mapa-01.svg" alt="Plano del proyecto" class="h-full mx-auto" />
  </div>
</dialog>

<script is:inline>
  const alertDialogMapa = document.getElementById("alert-dialog-mapa");
  const closeMapa = document.querySelector(".close-mapa");
  const openMapa = document.querySelectorAll(".open-mapa");

  closeMapa.addEventListener("click", () => {
    alertDialogMapa.close();
  });

  openMapa.forEach((btn) => {
    btn.addEventListener("click", () => {
      alertDialogMapa.showModal();
    });
  });
</script>

<style>
  .bg-plants {
    background-image: url("/images/bg-plants.avif");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
  }
</style>
