<section class="max-w-7xl mx-auto pb-14 md:pb-28 px-5 hidden md:block">
  <div
    class="pswp-gallery flex flex-wrap justify-center gap-5"
    id="my-gallery"
  >
    <a
      href="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361552/manarola/gallery-4_qt7aws.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361551/manarola/gallery-4-thumb_kmousw.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361592/manarola/gallery-5_bcr6gx.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361590/manarola/gallery-5-thumb_fhhr5m.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361697/manarola/gallery-7_vz9kvd.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361695/manarola/gallery-7-thumb_yz5bl0.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361743/manarola/gallery-8_gp4lep.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361742/manarola/gallery-8-thumb_vibgus.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361782/manarola/gallery-9_isqho6.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361780/manarola/gallery-9-thumb_aaylo6.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361644/manarola/gallery-6_e3kr55.avif"
      data-pswp-width="1666"
      data-pswp-height="2500"
      target="_blank"
    >
      <img
        src="https://res.cloudinary.com/dnwshzyqp/image/upload/v1721361642/manarola/gallery-6-thumb_uai6fz.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
  </div>
  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    const lightbox = new PhotoSwipeLightbox({
      gallery: "#my-gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
  </script>
</section>
