<section class="max-w-7xl mx-auto pb-14 md:pb-28 px-5 hidden md:block">
  <div
    class="pswp-gallery flex flex-wrap justify-center gap-5"
    id="my-gallery"
  >
    <a
      href="/images/gallery-4.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="/images/gallery-4-thumb.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="/images/gallery-5.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="/images/gallery-5-thumb.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="/images/gallery-7.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="/images/gallery-7-thumb.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="/images/gallery-8.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="/images/gallery-8-thumb.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="/images/gallery-9.avif"
      data-pswp-width="2500"
      data-pswp-height="1666"
      target="_blank"
    >
      <img
        src="/images/gallery-9-thumb.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
    <a
      href="/images/gallery-6.avif"
      data-pswp-width="1666"
      data-pswp-height="2500"
      target="_blank"
    >
      <img
        src="/images/gallery-6-thumb.avif"
        class="w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out max-h-40 overflow-hidden object-cover"
        loading="lazy"
      />
    </a>
  </div>
  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    const lightbox = new PhotoSwipeLightbox({
      gallery: "#my-gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    });

    lightbox.init();
  </script>
</section>
