---
import Title from "@/components/Title.astro";
---

<section class="bg-hover/20 py-14 md:py-28 px-5">
  <Title
    title="El único proyecto sobre terrazas del sur del Perú"
    subtitle="Hecha un vistazo"
    align="text-center"
    size="text-4xl md:text-[3rem]"
  />
  <p class="text-sm md:text-base font-light text-center mt-5 max-w-5xl mx-auto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id
    fuga omnis tempora rem numquam tenetur accusantium libero quasi tempore ut
    quos voluptatum voluptatem, unde inventore amet sed qui aliquid ipsam
    ducimus delectus est iure quae. Facere doloribus sed dolorum!
  </p>
  <div class="max-w-7xl mx-auto mt-5 md:mt-20">
    <div class="grid grid-cols-1 md:grid-cols-4 md:min-h-[90vh] bg-glance">
      <div class="border-r border-b border-white/60 group">
        <div
          class="bg-primary md:bg-transparent flex flex-col items-center justify-center py-10 group-hover:bg-white transition-colors duration-300 ease-in-out"
        >
          <span
            class="text-xs uppercase text-secondary font-light tracking-widest"
          >
            Lorem, ipsum dolor
          </span>
          <h3 class="text-secondary text-xl font-normal mt-3">
            Lorem ipsum dolor sit
          </h3>
        </div>
      </div>
      <div class="border-r border-b border-white/60 group">
        <div
          class="bg-primary md:bg-transparent flex flex-col items-center justify-center py-10 group-hover:bg-white transition-colors duration-300 ease-in-out"
        >
          <span
            class="text-xs uppercase text-secondary font-light tracking-widest"
          >
            Lorem, ipsum dolor
          </span>
          <h3 class="text-secondary text-xl font-normal mt-3">
            Lorem ipsum dolor sit
          </h3>
        </div>
      </div>
      <div class="border-r border-b border-white/60 group">
        <div
          class="bg-white flex flex-col items-center justify-center py-10 group-hover:bg-white transition-colors duration-300 ease-in-out"
        >
          <span
            class="text-xs uppercase text-secondary font-light tracking-widest"
          >
            Vista al mar desde
          </span>
          <h3 class="text-secondary text-xl font-normal mt-3">
            Lorem ipsum dolor sit
          </h3>
        </div>
      </div>
      <div class="border-r border-b border-white/60 group">
        <div
          class="bg-primary md:bg-transparent flex flex-col items-center justify-center py-10 group-hover:bg-white transition-colors duration-300 ease-in-out"
        >
          <span
            class="text-xs uppercase text-secondary font-light tracking-widest"
          >
            Lorem, ipsum dolor
          </span>
          <h3 class="text-secondary text-xl font-normal mt-3">
            Lorem ipsum dolor sit
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .bg-glance {
    background-image: url("https://kit.baliniz.com/malibu/wp-content/uploads/sites/60/2023/06/seasonal-feast-at-beach-resort-group-of-friends-celebrating-resting-having-fun-on-the-beach-in-e1689671838962.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
