---
import menu from "@/data/menu.json";
const pathname = Astro.url.pathname;
---

<header class="bg-white w-full z-10 sticky top-0">
  <div class="flex justify-between items-center max-w-7xl mx-auto p-2 md:p-4">
    <!-- MOBILE -->
    <a href="/" class="max-w-40 md:max-w-56 md:hidden">
      <img src="/images/logo.png" alt="Logotipo" class="w-full" />
    </a>
    <button
      class="show-button-form bg-button hover:bg-white py-2.5 px-4 text-white hover:text-button text-xs tracking-widest uppercase absolute right-7 md:top-3 flex gap-x-2 rounded-lg border border-button transition-colors duration-300"
    >
      Reserva <span class="hidden md:block">ahora</span>
    </button>
    <!-- DESKTOP -->
    <nav class="hidden md:block mx-auto">
      <ul class="inline-flex gap-x-1 relative z-20 uppercase text-[13px] text-zinc-500">
        {
          menu.map((item, key) => (
            <>
              <li class={`px-3 py-1`}>
                <a
                  href={item.url}
                  class={`inline-flex tracking-[1px] hover:text-black hover:font-medium transition-colors duration-300 ${pathname === item.url && "text-black font-medium"}`}
                >
                  {item.name}
                </a>
              </li>
              {key === 2 && <div class:list={"hidden w-64 lg:block"} />}
            </>
          ))
        }
      </ul>
      <div class="absolute top-0 left-1/2 -translate-x-1/2 mt-1 z-20">
        <a href="/" class="max-w-48 block mx-auto hover:-translate-y-1 transition-transform duration-300">
          <img src="/images/logo.png" alt="Logotipo" class="w-full" />
        </a>
      </div>
    </nav>
    <div
      class="h-screen bg-secondary w-[90%] fixed top-0 left-0 p-7 -translate-x-full transition-transform ease-in duration-500"
      id="menu-mobile"
    >
      <div class="flex justify-between items-center mt-7">
        <a href="/" class="max-w-36">
          <img
            src="https://kit.baliniz.com/malibu/wp-content/uploads/sites/60/2023/06/logo-1.png"
            alt="Logotipo"
            class="w-full"
          />
        </a>
        <button type="button" class="w-6 p-1" onclick="closeMenuMobile()">
          <svg
            class="text-hover"
            viewBox="0 0 64 64"
            xmlns="http://www.w3.org/2000/svg"
            stroke-width="3"
            stroke="currentColor"
            fill="none"
            ><path d="m8.06 8.06 47.35 47.88M55.94 8.06 8.59 55.94"></path></svg
          >
        </button>
      </div>
      <nav class="mt-5">
        <ul class="flex flex-col uppercase text-xs leading-none font-light">
          {
            menu.map((item) => (
              <li
                class={`hover:bg-white hover:text-secondary text-white w-full ${pathname === item.url && "bg-white"}`}
              >
                <a
                  href={item.url}
                  class={`p-4 tracking-[0.1rem] block ${pathname === item.url && "text-secondary"}`}
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>