<div
  class="max-w-xs md:max-w-7xl mx-auto flex flex-col md:flex-row"
>
  <div
    class="relative text-accent flex flex-col items-center justify-center md:justify-between gap-2 px-10 py-6 w-full after:absolute after:w-[1px] after:h-[60%] after:bg-primary/40 after:right-0 after:top-7"
  >
    <span class="text-sm tracking-wider uppercase font-light">Área</span>
    <div class="flex items-center gap-x-2">
      <svg
        class="w-8"
        viewBox="0 0 48.001 48.001"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M5 48a5.005 5.005 0 0 1-5-5V5a5.006 5.006 0 0 1 5-5h38a5.006 5.006 0 0 1 5 5v38a5.005 5.005 0 0 1-5 5Zm27-2h11a3 3 0 0 0 3-3V32H32Zm-15 0h14V32H17ZM2 43a3 3 0 0 0 3 3h11V32H2Zm30-12h14V17H32Zm-4.293 0H31v-3.292Zm-4 0H27l-.353-.353 4-4L31 27v-3.293Zm-4 0H23l-.354-.353 8-8L31 23v-3.293ZM17 31h2l-.353-.353 12-12L31 19v-2h-.29a6.88 6.88 0 0 0 .219-1H31V2H17v14h.071a7.047 7.047 0 0 0 .219 1H17v3.292l1.271-1.27a7.068 7.068 0 0 0 .635.779l-1.552 1.553L17 21v3.293l3.331-3.331a6.88 6.88 0 0 0 .932.482l-3.91 3.91L17 25v3.292l6.073-6.073-.848-2.545a5 5 0 1 1 3.55 0L24 25l-.573-1.72-6.073 6.073L17 29ZM2 31h14V17H2Zm19-16a3 3 0 1 0 3-3 3 3 0 0 0-3 3Zm11 1h14V5a3 3 0 0 0-3-3H32ZM2 5v11h14V2H5a3 3 0 0 0-3 3Z"
          fill="currentColor"></path></svg
      >
      <div class="flex flex-col font-light">
        <h4 class="text-3xl">110 <span class="text-sm">m<sup>2</sup></span></h4>
        <h4 class="text-3xl">150 <span class="text-sm">m<sup>2</sup></span></h4>
      </div>
    </div>
  </div>
  <div
    class="relative text-accent flex flex-col items-center justify-center gap-y-2 px-10 py-7 w-full after:absolute after:w-[1px] after:h-[60%] after:bg-primary/40 after:right-0 after:top-7"
  >
    <span class="text-sm tracking-wider uppercase font-light">Cuotas hasta</span>
    <h4 class="text-base font-bold text-center"><span class="text-3xl">36</span> meses ¡sin interés!</h4>
  </div>
  <div
    class="relative text-accent flex items-center justify-center w-full after:absolute after:w-[1px] after:h-[60%] after:bg-primary/40 after:right-0 after:top-7"
  >
    <h4 class="text-xl font-bold leading-none text-center"
      >Aprovecha la preventa</h4
    >
  </div>
  <div class="flex items-center justify-center w-full mt-5 md:mt-0">
    <button
      type="button"
      class="show-button-form flex items-center justify-center uppercase text-sm tracking-widest font-medium px-10 py-5 text-white hover:text-button bg-button hover:bg-white rounded-lg border border-button transition-colors duration-300"
    >
      ¡Reserva ahora!
    </button>
  </div>
</div>
