---
import Title from "@/components/Title.astro";
import ButtonReserva from "../ButtonReserva.astro";
import Plano from "../icons/Plano.astro";
---

<section class="bg-background">
  <div
    class="w-full md:max-w-7xl mx-auto px-5 py-20 flex flex-col items-center justify-center"
  >
    <Title
      title="Lote perfecto para tí"
      subtitle="Elige el"
      align="text-center"
      size="text-3xl md:text-[3rem]"
    />
    <p class="text-center mt-10 text-[15px] animation-bottom">
      Revisa nuestra lotización y escoge el terreno ideal para ti y tu familia, recuerda que absolutamente todos los lotes cuentan con una increíble vista al mar
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 mt-10">
      <div class="py-5 px-16">
        <ButtonReserva />
        <img
          src="/images/mapa-01.avif"
          alt="Plano proyecto manarola"
          class="mt-5"
        />
        <span
          class="open-mapa cursor-pointer text-xs tracking-widest uppercase ounded-lg  text-secondary hover:text-white transition-colors duration-300 mt-5 flex items-center justify-center gap-x-2 border border-secondary p-2 w-full text-center hover:bg-secondary group"
          >
          <Plano class="w-7 fill-secondary group-hover:fill-white transition-colors duration-300" />
          Ampliar imagen</span
        >
      </div>
      <div class="p-10 hidden md:block">
        <img src="/images/gallery-1.avif" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="w-full pt-20">
  <div class="h-[85vh] overflow-hidden">
    <div class="splide h-full" id="slide-secondary">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev bg-accent">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
        <button class="splide__arrow splide__arrow--next">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img
              src="/images/slide-4.avif"
              alt="Terrazas del proyecto"
              class="w-full"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-14 md:py-20 px-5">
  <div class="max-w-7xl mx-auto">
    <img
      src="/images/orillas.svg"
      alt="Icono orillas del mar"
      class="w-20 mx-auto mb-5 animation-bottom"
    />
    <Title
      title="A orillas del mar"
      subtitle="La ventaja de vivir"
      align="text-center"
      size="text-4xl md:text-[3rem]"
    />
    <p
      class="text-center text-xs md:text-[15px] mt-5 mb-10 leading-[27px] animation-bottom"
    >
      Siente la brisa del mar, con acceso directo a la playa
    </p>
    <ButtonReserva />
    <div class="md:grid md:grid-cols-3 gap-5 hidden">
      <div class="p-5 group">
        <img
          src="/images/orilla-1.avif"
          alt="Familia disfrutando de la playa"
          class="group-hover:-translate-y-2 transition-transform duration-300"
        />
      </div>
      <div class="p-5 md:mt-20 group">
        <img
          src="/images/orilla-2.avif"
          alt="Familia disfrutando de la playa"
          class="group-hover:-translate-y-2 transition-transform duration-300"
        />
      </div>
      <div class="p-5 group">
        <img
          src="/images/orilla-3.avif"
          alt="Familia disfrutando de la playa"
          class="group-hover:-translate-y-2 transition-transform duration-300"
        />
      </div>
    </div>
    <div class="splide mt-5 md:hidden" id="slide-orillas">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev bg-accent">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
        <button class="splide__arrow splide__arrow--next">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide group">
            <img
              src="/images/orilla-1.avif"
              alt="Familia disfrutando de la playa"
              class="group-hover:-translate-y-2 transition-transform duration-300"
            />
          </li>
          <li class="splide__slide group">
            <img
              src="/images/orilla-2.avif"
              alt="Familia disfrutando de la playa"
              class="group-hover:-translate-y-2 transition-transform duration-300"
            />
          </li>
          <li class="splide__slide group">
            <img
              src="/images/orilla-3.avif"
              alt="Familia disfrutando de la playa"
              class="group-hover:-translate-y-2 transition-transform duration-300"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .bg-reserva {
    background-image: url("/images/bg-plants.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .splide__arrow {
    background: #f08435;
    opacity: 1;
    color: white;
  }
  .splide__arrow:focus {
    outline: none;
  }
  .splide__arrow--prev {
    left: 10px;
  }
  .splide__arrow--next {
    right: 10px;
  }
  .splide__pagination {
    bottom: -1.5em;
  }
  .splide__pagination__page.is-active {
    background: #f08435;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";
  var splideSecondary = new Splide("#slide-secondary", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    focus: "center",
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
  });

  splideSecondary.mount();

  var splideGalleryOrillas = new Splide("#slide-orillas", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    focus: "center",
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
    mediaQuery: "min",
    breakpoints: {
      640: {
        destroy: true,
      },
    },
  });

  splideGalleryOrillas.mount();
</script>
