---
import Title from "@/components/Title.astro";
import ButtonReserva from "../ButtonReserva.astro";
import InteractiveMap from "../InteractiveMap";
import InteractiveMapMobil from "../InteractiveMapMobil";
---

<section class="bg-background" id="lotes">
  <div
    class="w-full px-5 py-20 flex flex-col items-center justify-center"
  >
    <Title
      title="Lote perfecto para tí"
      subtitle="Elige el"
      align="text-center"
      size="text-3xl md:text-[3rem]"
    />
    <p class="text-center mt-10 text-[15px] animation-bottom">
      Revisa nuestra lotización y escoge el terreno ideal para ti y tu familia,
      recuerda que absolutamente todos los lotes cuentan con una increíble vista
      al mar
    </p>
    <div class="max-w-7xl md:h-[600px] mt-10 relative hidden md:block">
      <InteractiveMap client:only />
    </div>
    <div class="mt-10 md:hidden w-full" id="map-interactive-mobile">
      <InteractiveMapMobil client:only />
    </div>
    <!-- <div id="modalOverlay" class="overlay">
      <div class="modal">
        <button class="closeBtn">&times;</button>
        <InteractiveMap client:only />
      </div>
    </div> -->
  </div>
</section>

<section class="w-full pt-20">
  <div class="md:h-[85vh] overflow-hidden">
    <div class="splide h-full" id="slide-secondary">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev bg-accent">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
        <button class="splide__arrow splide__arrow--next">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          <li
            class="splide__slide bg-[url('/images/slider6.webp')] bg-no-repeat h-96 md:h-[85vh] bg-cover md:bg-bottom"
          >
          </li>
          <li
            class="splide__slide bg-[url('/images/slider5.webp')] bg-no-repeat h-96 md:h-[85vh] bg-cover md:bg-cover"
          >
          </li>
          <li
            class="splide__slide bg-[url('/images/slide-6.avif')] bg-no-repeat h-96 md:h-[85vh] bg-cover md:bg-bottom"
          >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-14 md:py-20 px-5">
  <div class="max-w-7xl mx-auto">
    <img
      src="/images/orillas.svg"
      alt="Icono orillas del mar"
      class="w-20 mx-auto mb-5 animation-bottom"
      loading="lazy"
    />
    <Title
      title="A orillas del mar"
      subtitle="La ventaja de vivir"
      align="text-center"
      size="text-4xl md:text-[3rem]"
    />
    <p
      class="text-center text-xs md:text-[15px] mt-5 mb-10 leading-[27px] animation-bottom"
    >
      Siente la brisa del mar, con acceso directo a la playa
    </p>
    <ButtonReserva />
    <div class="md:grid md:grid-cols-3 gap-5 hidden">
      <div class="p-5 group">
        <img
          src="/images/orilla-1.avif"
          alt="Familia disfrutando de la playa"
          class="group-hover:-translate-y-2 transition-transform duration-300"
          loading="lazy"
        />
      </div>
      <div class="p-5 md:mt-20 group">
        <img
          src="/images/orilla-2.avif"
          alt="Familia disfrutando de la playa"
          class="group-hover:-translate-y-2 transition-transform duration-300"
          loading="lazy"
        />
      </div>
      <div class="p-5 group">
        <img
          src="/images/orilla-3.avif"
          alt="Familia disfrutando de la playa"
          class="group-hover:-translate-y-2 transition-transform duration-300"
          loading="lazy"
        />
      </div>
    </div>
    <div class="splide mt-5 md:hidden" id="slide-orillas">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev bg-accent">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
        <button class="splide__arrow splide__arrow--next">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide group">
            <img
              src="/images/orilla-1.avif"
              alt="Familia disfrutando de la playa"
              class="group-hover:-translate-y-2 transition-transform duration-300"
              loading="lazy"
            />
          </li>
          <li class="splide__slide group">
            <img
              src="/images/orilla-2.avif"
              alt="Familia disfrutando de la playa"
              class="group-hover:-translate-y-2 transition-transform duration-300"
              loading="lazy"
            />
          </li>
          <li class="splide__slide group">
            <img
              src="/images/orilla-3.avif"
              alt="Familia disfrutando de la playa"
              class="group-hover:-translate-y-2 transition-transform duration-300"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .bg-reserva {
    background-image: url("/images/bg-plants.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .splide__arrow {
    background: #f08435;
    opacity: 1;
    color: white;
  }
  .splide__arrow:focus {
    outline: none;
  }
  .splide__arrow--prev {
    left: 10px;
  }
  .splide__arrow--next {
    right: 10px;
  }
  .splide__pagination {
    bottom: -1.5em;
  }
  .splide__pagination__page.is-active {
    background: #f08435;
  }

  /* Style for the button to open the modal */
  #openModal {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Overlay background */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Dark gray overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
  }

  /* Modal box */
  .modal {
    background-color: white;
    width: 95vw;
    height: 95vh;
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  /* Close button */
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* Show modal when active */
  .overlay.active {
    visibility: visible;
    opacity: 1;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";
  var splideSecondary = new Splide("#slide-secondary", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    focus: "center",
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
  });

  splideSecondary.mount();

  var splideGalleryOrillas = new Splide("#slide-orillas", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    focus: "center",
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
    mediaQuery: "min",
    breakpoints: {
      640: {
        destroy: true,
      },
    },
  });

  splideGalleryOrillas.mount();
</script>

<script >
  // Get modal elements
  const modalOverlay = document.getElementById("modalOverlay");
  const openModalBtn = document.getElementById("openModal");
  const closeModalBtn = document.querySelector(".closeBtn");

  // Open modal
  openModalBtn?.addEventListener("click", () => {
    modalOverlay.classList.add("active");
  });

  // Close modal when clicking the close button
  closeModalBtn?.addEventListener("click", () => {
    modalOverlay.classList.remove("active");
  });

  // Close modal when clicking outside the modal content
  modalOverlay?.addEventListener("click", (e) => {
    if (e.target === modalOverlay) {
      modalOverlay.classList.remove("active");
    }
  });

  const elemento1 = document.getElementById('floating-button');
  const elemento2 = document.getElementById('map-interactive-mobile');

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        elemento1.style.display = 'none'; // Ocultar cuando intersecta
      } else {
        elemento1.style.display = 'block'; // Mostrar si no intersecta
      }
    });
  }, {
    root: null, // Observa todo el viewport
    threshold: 0.5 // El 50% de superposición
  });

  observer.observe(elemento2); // Observa el segundo elemento
</script>
