---
import Title from "@/components/Title.astro";
---

<section class="px-5 py-14 md:py-28 text-center text-white min-h-screen relative">
  <span class="text-base uppercase font-light tracking-widest"
    >Estamos en quilca, muy cerca a Camaná</span
  >
  <h1 class="text-4xl md:text-6xl font-normal mt-5 md:max-w-3xl md:mx-auto">
    Nos encontramos a 15 minutos del peaje de Camaná
  </h1>
  <span class="absolute right-1/4 top-1/2">KM 22 de la carretera Costa Nera Sur</span>
  <span class="absolute bottom-36 left-5 md:left-40 text-2xl font-light">Exclusividad, seguridad y privacidad</span>
</section>

<style>
  section {
    background-image: url("/images/bg_mapa.avif");
    background-size: cover;
    background-position: center;
  }
</style>
