---
import ButtonReserva from "../ButtonReserva.astro";
import Title from "../Title.astro";
---

<section
  class="w-full py-20 flex flex-col items-center justify-center"
  id="distancia"
>
  <img src="/images/sol.svg" alt="Icono sol" class="w-20 mx-auto mb-5 animation-bottom" loading="lazy">
  <Title
    title="15 minutos del peaje de Camaná"
    subtitle="Nos ubicamos a"
    align="text-center"
    size="text-3xl md:text-[3rem]"
  />
  <p class="max-w-5xl mt-10 text-[15px] text-center animation-bottom">
    Rodeado de hermosas caletas en Quilca y lugares turísticos
  </p>
  
  <div class="md:h-[85vh] overflow-hidden w-full">
    <div class="splide mt-5 h-full" id="slide-route">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev bg-accent">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
        <button class="splide__arrow splide__arrow--next">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide bg-[url('/images/Caleta1.avif')] bg-no-repeat h-96 md:h-[85vh] bg-cover md:bg-bottom">
          </li>
          <li class="splide__slide bg-[url('/images/Caleta2.avif')] bg-no-repeat h-96 md:h-[85vh] bg-cover md:bg-bottom">
          </li>
          <li class="splide__slide bg-[url('/images/Caleta3.avif')] bg-no-repeat h-96 md:h-[85vh] bg-cover md:bg-bottom">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full mt-10">
    <div class="bg-background p-10">
      <span class="text-sm uppercase font-medium tracking-[0.2em] text-secondary">Una zona privilegiada</span>
      <h4 class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]">En Quilca - Camaná</h4>
      <ButtonReserva />
    </div>
    <div class="bg-primary/30 p-10">
      <span class="text-sm uppercase font-medium tracking-[0.2em] text-accent">En una zona de</span>
      <h4 class="font-normal mt-4 md:max-w-3xl leading-snug md:mx-auto text-accent text-[1.5rem]">Alta revalorización</h4>
      <ButtonReserva />
    </div>
  </div>
</section>

<style>
  .splide__arrow {
    background: #f08435;
    opacity: 1;
    color: white;
  }
  .splide__arrow:focus {
    outline: none;
  }
  .splide__arrow--prev {
    left: 10px;
  }
  .splide__arrow--next {
    right: 10px;
  }
  .splide__pagination {
    bottom: -1.5em;
  }
  .splide__pagination__page.is-active {
    background: #f08435;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";
  
  var splideGalleryTerrazas = new Splide("#slide-route", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    focus: "center",
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
  });

  splideGalleryTerrazas.mount();
</script>