---
import Title from "@/components/Title.astro";
import Footer from "@/components/sections/Footer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro." description="">
  <section class="max-w-7xl mx-auto py-20 flex gap-x-10">
    <div class="w-full">
      <Title
        title="Lorem Repellendus"
        subtitle="Lorem"
        align="text-left"
        size="text-3xl md:text-[3rem]"
      />
      <p class="text-left mt-10 text-[15px] animation-bottom">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias deserunt tempora deleniti, reprehenderit sint repudiandae eaque ad numquam ratione ipsam eveniet consequuntur quasi ab iusto ex, libero, assumenda cupiditate sequi dolor. Voluptatum accusamus sequi ullam maxime rerum nobis! Repellendus, vitae!
      </p>
    </div>
    <form action="" class="mt-5 w-full">
      <input
        type="text"
        class="p-3 border border-gray-300/60 w-full text-sm bg-transparent"
        placeholder="Nombre completo"
      />
      <input
        type="text"
        class="p-3 border border-gray-300/60 w-full text-sm bg-transparent mt-4"
        placeholder="Celular"
      />
      <input
        type="email"
        class="p-3 border border-gray-300/60 w-full text-sm bg-transparent mt-4"
        placeholder="Horario de contacto"
      />
      <button
        class="bg-button rounded-lg px-6 py-4 text-xs uppercase tracking-widest text-white w-full mt-5"
        >Enviar mensaje</button
      >
    </form>
  </section>
  <Footer />
</Layout>
