---
import FormReservaExterno from "@/components/FormReservaExterno.astro";
import ModalConfirmacionExterno from "@/components/ModalConfirmacionExterno.astro";
import Title from "@/components/Title.astro";
import Footer from "@/components/sections/Footer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Manarola - Condominio de Playa" description="Diseñado para ofrecer comodidad y exclusividad, lotes con impresionantes vistas, acceso directo a la playa y carretera costanera en Quilca – Camaná">
  <section class="max-w-7xl mx-auto py-20 px-5 flex flex-col gap-y-5">
    <div class="flex flex-col md:flex-row gap-x-10">
      <div class="w-full relative hidden md:block">
        <img src="/images/precios.svg" alt="Precios actuales" />
        <a
          href="/archivos/terminos_y_condiciones_promociones.pdf"
          target="_blank"
          class="text-blue-800 text-sm underline italic hover:translate-y-1 transition-transform duration-300 p-1 absolute left-0 bottom-16 w-60"
          >Terminos y condiciones</a
        >
      </div>
      <div class="px-5 w-full">
        <h2 class="text-xl text-center">Completa tus datos para contactarte y brindarte información personalizada</h2>
        <FormReservaExterno nameBoton="Solicitar información" />
      </div>
    </div>
    <Title
      title="Esta es la impresionante vista que tendrás desde tu terreno de playa"
      subtitle=""
      align="text-center"
      size="text-3xl md:text-[3rem]"
    />
    <div class="splide mt-10 h-full" id="slide-form">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev bg-accent">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
        <button class="splide__arrow splide__arrow--next">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M16.18 3.269a1 1 0 0 0-1.415 0L8.121 9.913a3 3 0 0 0-.001 4.242l6.57 6.575a1 1 0 1 0 1.415-1.414l-6.573-6.572a1 1 0 0 1 0-1.414l6.648-6.647a1 1 0 0 0 0-1.414Z"
              fill="currentColor"></path></svg
          >
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img
              src="/images/slide-1.avif"
              alt="Terrazas del proyecto"
              class="w-full aspect-video"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              src="/images/header.avif"
              alt="Terrazas del proyecto"
              class="w-full aspect-video"
              loading="lazy"
            />
          </li>
          <li class="splide__slide">
            <img
              src="/images/slide-3.avif"
              alt="Terrazas del proyecto"
              class="w-full aspect-video"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </section>
  <ModalConfirmacionExterno url="https://chat.whatsapp.com/KPPU6SBTSbwCGPGcqN1gqN1" />
  <Footer />
</Layout>

<!-- <script is:inline>
  const closeMapa = document.querySelector(".close-mapa");
  const openMapa = document.querySelectorAll(".open-mapa");
  
  closeMapa.addEventListener("click", () => {
    alertDialogMapa.close();
  });
  
  openMapa.forEach((btn) => {
    btn.addEventListener("click", () => {
      alertDialogMapa.showModal();
    });
  });
</script> -->
<!-- <script>
  const alertDialogMapa = document.getElementById("alert-dialog-confirm");
  const closeDialog = document.querySelector(".close-dialog");

  closeDialog.addEventListener("click", () => {
    alertDialogMapa.close();
  });

  const scriptURL =
    "https://script.google.com/macros/s/AKfycbwxrMzAGsT0QTYxfhyK37J-vHYU2BY6lIT6-_8VUqvLNKUS0kYdGxEOvW6_EbOZocqL/exec";
  // const scriptURL =
  //   "https://script.google.com/macros/s/AKfycbzWLcqg7qU4BJXYvVYZ5dUNk6q7zCNxhEZj6uxLG-zpOs7PR3v4lMj5anOtgBS8As4X/exec";
  const form = document.forms["submit-form"];
  const button = document.querySelector('.btn-submit')
  const formMessage = document.querySelector('.submit-form')

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    button.setAttribute("disabled", "true")
    button.textContent = "Enviando ..."
    fetch(scriptURL, { method: "POST", body: new FormData(form) })
      .then((response) => {
        if(!response.ok){
          alert("Mensaje no fue enviado, intentelo nuevamente.")
          return
        }
        alertDialogMapa.showModal();
        button.removeAttribute("disabled")
        button.textContent = "Enviar mensaje"
        formMessage.reset()
      })
      .catch((error) => console.error("Error!", error.message));
  });
</script> -->

<style>
  .bg-reserva {
    background-image: url("/images/bg-plants.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .splide__arrow {
    background: #f08435;
    opacity: 1;
    color: white;
  }
  .splide__arrow:focus {
    outline: none;
  }
  .splide__arrow--prev {
    left: 10px;
  }
  .splide__arrow--next {
    right: 10px;
  }
  .splide__pagination {
    bottom: -1.5em;
  }
  .splide__pagination__page.is-active {
    background: #f08435;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";
  var splide = new Splide("#slide-form", {
    type: "loop",
    autoplay: true,
    perPage: 1,
    focus: "center",
    classes: {
      pagination: "splide__pagination",
      page: "splide__pagination__page",
    },
  });

  splide.mount();
</script>
