---
import Adquisicion from "@/components/icons/Adquisicion.astro";
import ConformidadMunicipal from "@/components/icons/ConformidadMunicipal.astro";
import ConformidadVias from "@/components/icons/ConformidadVias.astro";
import Factibilidad from "@/components/icons/Factibilidad.astro";
import Portico from "@/components/icons/Portico.astro";
import Redes from "@/components/icons/Redes.astro";
import Saneamiento from "@/components/icons/Saneamiento.astro";

interface Props {
  image: string;
  title: string;
  active: boolean;
}

const { image, title, active = false } = Astro.props;

const PROGRESS_ICONS = {
  Adquisicion,
  ConformidadMunicipal,
  ConformidadVias,
  Factibilidad,
  Portico,
  Redes,
  Saneamiento,
};
const Icon = PROGRESS_ICONS[image];
---

<li
  class="flex flex-col justify-center items-center gap-y-5 splide__slide group"
>
  <div
    class={`rounded-full border-accent/40 border w-28 h-28 p-6 flex items-center justify-center group-hover:bg-accent transition-colors duration-300 ${active && "bg-accent"}`}
  >
    <Icon
      class={`w-full group-hover:text-white transition-colors duration-300 ${active ? "text-white " : "text-accent"}`}
    />
  </div>
  <h3
    class={`text-lg text-secondary text-center leading-tight flex-1 max-w-60 font-light`}
  >
    {title}
  </h3>
</li>
