---
import Message from "./icons/Message.astro";
import Person from "./icons/Person.astro";
---

<a
  href="https://wa.link/brrvwr"
  target="_blank"
  id="floating-button"
  class="bg-[#25D366] rounded-full w-20 h-20 flex items-center justify-center  fixed bottom-10 right-7 group z-10 hover:bg-[#6ced9c] transition-colors duration-300"
>
  <Person class="w-16 absolute -bottom-2 left-1/2 -translate-x-1/2 z-20" />
  <span
    class="absolute right-16 -top-10 animate-bounce group-hover:animation-delay-300 transition-all duration-300"
  >
    <Message class="w-28" />
  </span></a
>
