---
const { nameBoton = "Reservar ahora" } = Astro.props;
---

<form
  action=""
  method="post"
  class="mt-5 w-full submit-form"
  name="submit-form"
>
  <input
    type="text"
    name="Nombre completo"
    id="inputTexto"
    minlength="5"
    class="p-4 border border-gray-300 w-full text-base bg-transparent"
    placeholder="Nombre completo"
  />
  <span id="errorTexto" style="color: red; display: none;"
    >Debe contener al menos 5 caracteres alfabéticos.</span
  >
  <input
    type="tel"
    name="Número de celular"
    min="5"
    id="inputNumeros"
    class="p-4 border border-gray-300 w-full text-base bg-transparent mt-4"
    placeholder="Celular"
  />
  <span id="errorNumeros" style="color: red; display: none;"
    >Debe contener exactamente 9 dígitos numéricos.</span
  >
  <button
    type="submit"
    class="bg-button btn-submit disabled:bg-button/30 rounded-lg px-6 py-4 text-xs uppercase tracking-widest text-white w-full mt-5"
    >{nameBoton}</button
  >
  <div class="w-full flex flex-col md:flex-row gap-x-4">
    <a
      href="tel:983792957"
      class="bg-black text-center rounded-lg px-6 py-4 text-xs uppercase tracking-widest text-white w-full mt-5 flex gap-x-5 items-center justify-center"
    >
      <svg
        class="w-5 h-5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17.355 22.232c-2.02-.506-6.156-1.933-9.905-5.682-3.75-3.749-5.176-7.884-5.682-9.905-.291-1.16.233-2.28 1.12-2.915l2.329-1.663a3 3 0 0 1 4.21.734l1.466 2.117a2 2 0 0 1-.482 2.766l-1.169.834c.177.677.727 2.067 2.45 3.79 1.723 1.723 3.113 2.273 3.79 2.45l.834-1.17a2 2 0 0 1 2.766-.481l2.117 1.466a3 3 0 0 1 .734 4.21l-1.663 2.328c-.634.888-1.755 1.412-2.915 1.121Zm-8.491-7.096c3.41 3.41 7.172 4.704 8.976 5.156.264.066.583-.036.802-.343l1.664-2.329a1 1 0 0 0-.245-1.403l-2.117-1.466-.896 1.255c-.366.512-1.043.914-1.832.744-.984-.212-2.803-.893-4.938-3.028S7.462 9.768 7.25 8.784c-.17-.789.232-1.466.744-1.832l1.255-.896L7.783 3.94a1 1 0 0 0-1.404-.245L4.051 5.357c-.307.22-.41.539-.343.802.452 1.805 1.747 5.568 5.156 8.977Z"
          fill="currentColor"></path></svg
      >
      Realizar llamada
    </a>
    <a
      href="https://wa.link/brrvwr"
      target="_blank"
      class="bg-[#54b547] text-center rounded-lg px-6 py-4 text-xs uppercase tracking-widest text-white w-full mt-5 flex gap-x-5 items-center justify-center"
    >
      <svg
        class="w-5 h-5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><g fill="currentColor"
          ><path
            d="M6.014 8.006c.114-.904 1.289-2.132 2.22-1.996V6.01c.907.172 1.625 1.734 2.03 2.436.286.509.1 1.025-.167 1.243-.361.29-.926.692-.808 1.095C9.5 11.5 12 14 13.23 14.711c.466.269.804-.44 1.092-.804.21-.28.726-.447 1.234-.171.759.442 1.474.956 2.135 1.534.33.276.408.684.179 1.115-.403.76-1.569 1.76-2.415 1.557C13.976 17.587 8 15.27 6.08 8.558c-.108-.318-.08-.438-.066-.552Z"
          ></path><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 23c-1.224 0-1.9-.131-3-.5l-2.106 1.053A2 2 0 0 1 4 21.763V19.5c-2.153-2.008-3-4.323-3-7.5C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11Zm-6-4.37-.636-.593C3.691 16.477 3 14.733 3 12a9 9 0 1 1 9 9c-.986 0-1.448-.089-2.364-.396l-.788-.264L6 21.764V18.63Z"
          ></path></g
        ></svg
      >
      Contactar por Whatsapp
    </a>
  </div>
</form>

<script>
  const alertDialogConfirm = document.getElementById("alert-dialog-confirm");
  const closeDialog = document.querySelector(".close-dialog");

  closeDialog.addEventListener("click", () => {
    alertDialogConfirm.close();
  });
  // alertDialogConfirm.showModal();
  const scriptURL =
    "https://script.google.com/macros/s/AKfycbwxrMzAGsT0QTYxfhyK37J-vHYU2BY6lIT6-_8VUqvLNKUS0kYdGxEOvW6_EbOZocqL/exec";
  // const scriptURL =
  //   "https://script.google.com/macros/s/AKfycbzWLcqg7qU4BJXYvVYZ5dUNk6q7zCNxhEZj6uxLG-zpOs7PR3v4lMj5anOtgBS8As4X/exec";
  const form = document.forms["submit-form"];
  const button = document.querySelector(".btn-submit");
  const formMessage = document.querySelector(".submit-form");

  form.addEventListener("submit", (e) => {
    if (
      !/^[A-Za-z]{5,}$/.test(inputTexto.value) ||
      !/^\d{9}$/.test(inputNumeros.value)
    ) {
      alert(
        "Por favor, asegúrate de que ambos campos cumplan con los requisitos."
      );
      return;
    }
    e.preventDefault();
    button.setAttribute("disabled", "true");
    button.textContent = "Enviando ...";
    fetch(scriptURL, { method: "POST", body: new FormData(form) })
      .then((response) => {
        if (!response.ok) {
          alert("Mensaje no fue enviado, intentelo nuevamente.");
          return;
        }
        alertDialogConfirm.showModal();
        setInterval(updateCountdown, 1000);
        button.removeAttribute("disabled");
        button.textContent = "Enviar mensaje";
        formMessage.reset();
      })
      .catch((error) => console.error("Error!", error.message));
  });

  let countdownElement = document.getElementById("countdown");
  let timeLeft = 5; // segundos

  function updateCountdown() {
    let minutes = Math.floor(timeLeft / 60);
    let seconds = timeLeft % 60;

    if (seconds < 10) {
      seconds = "0" + seconds;
    }

    countdownElement.textContent = `00:${seconds}`;

    const url =
      window.location.pathname === "/formulario-zoom"
        ? "https://chat.whatsapp.com/KdbZCO88Mr64wSuo9tyx9x"
        : "https://chat.whatsapp.com/KPPU6SBTSbwCGPGcqN1gqN1";

    if (timeLeft > 0) {
      timeLeft--;
    } else {
      window.location.href = url; // Cambia esta URL por la página a la que deseas redirigir
    }
  }

  const inputTexto = document.getElementById("inputTexto");
  const inputNumeros = document.getElementById("inputNumeros");
  const errorTexto = document.getElementById("errorTexto");
  const errorNumeros = document.getElementById("errorNumeros");

  function showError(element) {
    element.style.display = "inline";
    setTimeout(() => {
      element.style.display = "none";
    }, 4000);
  }

  inputTexto.addEventListener("input", () => {
    const regex = /^[A-Za-z]{5,}$/;
    if (regex.test(inputTexto.value)) {
      errorTexto.style.display = "none";
    } else {
      showError(errorTexto);
    }
  });

  inputNumeros.addEventListener("input", () => {
    const regex = /^\d{9}$/;
    if (regex.test(inputNumeros.value)) {
      errorNumeros.style.display = "none";
    } else {
      showError(errorNumeros);
    }
  });
</script>
