---
interface Props {
	title: string;
	subtitle: string;
	align: string;
	size: string;
}

const { title, subtitle, align, size } = Astro.props;
---

<div class={`text-secondary ${align}`}>
	<span class="text-sm uppercase font-medium tracking-widest">{subtitle}</span>
	<h1 class={`font-normal mt-4 md:max-w-4xl md:mx-auto ${size}`}>{title}</h1>
</div>