---
interface Props {
	title: string;
	subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="text-center text-secondary">
	<span class="text-base uppercase font-light tracking-widest">{subtitle}</span>
	<h1 class="text-4xl md:text-6xl font-normal mt-5 md:max-w-3xl md:mx-auto">{title}</h1>
</div>